{{page-title "Job " this.job.name " definition"}}
<JobSubnav @job={{this.job}} />
<section class="section">
  {{#if this.isEditing}}
    <JobEditor
      @job={{this.job}}
      @cancelable={{true}}
      @context="edit"
      @onCancel={{action this.onCancel}}
      @onSubmit={{action this.onSubmit}}
    />
  {{else}}
    <div class="boxed-section">
      <div class="boxed-section-head">
        Job Definition
        <Toggle
          data-test-enable-shortcuts-toggle
          class="pull-right"
          @isActive={{this.jsonView}}
          @onToggle={{action this.toggleJsonView}}
          title="{{if this.jsonView "HCL View" "JSON View"}}"
        >
          {{if this.jsonView "JSON View" "HCL View"}}
        </Toggle>
        <button
          class="button is-light is-compact pull-right"
          type="button"
          onclick={{action this.edit}}
          data-test-edit-job
        >Edit</button>
        <button
          class="button is-light is-compact pull-right"
          type="button"
          onclick={{perform this.parse}}
          data-test-parse-job
        >Parse</button>
      </div>
      <div class="boxed-section-body is-full-bleed">
        {{#if this.jsonView}}
          <JsonViewer data-test-definition-view @json={{this.definition}} />
        {{else}}
          <div
            data-test-definition-view
            {{code-mirror
              screenReaderLabel="Job definition"
              content=this.job.file
              theme="hashi"
              mode="javascript"
            }}
          />
        {{/if}}
      </div>
    </div>
  {{/if}}
</section>
