{{page-title "Job " this.job.name " definition"}}
<JobSubnav @job={{this.job}} />
<section class="section">
  <JobEditor
    @cancelable={{true}}
    @definition={{this.definition}}
    @job={{this.job}}
    @specification={{this.specification}}
    @onSubmit={{action this.onSubmit}}
    data-test-job-editor
  />
</section>
