{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Job " this.job.name " evaluations"}}
<JobSubnav @job={{this.job}} />
<section class="section">
  {{#if this.sortedEvaluations.length}}
    <ListTable
      @source={{this.sortedEvaluations}}
      @sortProperty={{this.sortProperty}}
      @sortDescending={{this.sortDescending}} as |t|>
      <t.head>
        <th>ID</th>
        <t.sort-by @prop="priority">Priority</t.sort-by>
        <t.sort-by @prop="createTime">Created</t.sort-by>
        <t.sort-by @prop="triggeredBy">Triggered By</t.sort-by>
        <t.sort-by @prop="status">Status</t.sort-by>
        <t.sort-by @prop="hasPlacementFailures">Placement Failures</t.sort-by>
      </t.head>
      <t.body as |row|>
        <tr data-test-evaluation="{{row.model.shortId}}">
          <td data-test-id>{{row.model.shortId}}</td>
          <td data-test-priority>{{row.model.priority}}</td>
          <td data-test-create-time>{{format-month-ts row.model.createTime}}</td>
          <td data-test-triggered-by>{{row.model.triggeredBy}}</td>
          <td data-test-status>{{row.model.status}}</td>
          <td data-test-blocked>
            {{#if (eq row.model.status "blocked")}}
              N/A - In Progress
            {{else if row.model.hasPlacementFailures}}
              True
            {{else}}
              False
            {{/if}}
          </td>
        </tr>
      </t.body>
    </ListTable>
  {{else}}
    <div data-test-empty-evaluations-list class="empty-message">
      <h3 data-test-empty-evaluations-list-headline class="empty-message-headline">No Evaluations</h3>
      <p class="empty-message-body">This is most likely due to garbage collection.</p>
    </div>
  {{/if}}
</section>
