{{#global-header class="page-header"}}
  {{#each breadcrumbs as |breadcrumb|}}
    <a href="{{href-to-spread breadcrumb.args}}" class="breadcrumb">{{breadcrumb.label}}</a>
  {{/each}}
{{/global-header}}
{{#gutter-menu class="page-body"}}
  <section class="section">
    <div class="message job-stats">
      <div class="message-body">
        <span>{{model.type}} | </span>
        <span>{{model.status}} | </span>
        <span>Priority: {{model.priority}}</span>
      </div>
    </div>
    <div class="message">
      <div class="message-header">
        Task Groups
      </div>
      {{#list-pagination
        source=sortedTaskGroups
        sortProperty=sortProperty
        sortDescending=sortDescending as |p|}}
        {{#list-table
          source=p.list
          sortProperty=sortProperty
          sortDescending=sortDescending as |t|}}
          {{#t.head}}
            {{#t.sort-by prop="name"}}Name{{/t.sort-by}}
            {{#t.sort-by prop="count"}}Count{{/t.sort-by}}
            {{#t.sort-by prop="queuedOrStartingAllocs" class="is-3"}}Allocation Status{{/t.sort-by}}
            {{#t.sort-by prop="reservedCPU"}}Reserved CPU{{/t.sort-by}}
            {{#t.sort-by prop="reservedMemory"}}Reserved Memory{{/t.sort-by}}
            {{#t.sort-by prop="reservedDisk"}}Reserved Disk{{/t.sort-by}}
          {{/t.head}}
          {{#t.body as |row|}}
            {{task-group-row taskGroup=row.model}}
          {{/t.body}}
        {{/list-table}}
      {{/list-pagination}}
    </div>
  </section>
{{/gutter-menu}}
