<nav class="nav is-secondary">
  <div class="nav-left breadcrumbs">
    {{#each breadcrumbs as |breadcrumb|}}
      <a href="{{href-to-spread breadcrumb.args}}" class="breadcrumb">{{breadcrumb.label}}</a>
    {{/each}}
  </div>
</nav>
<div class="container">
  <section class="section">
    <div class="level">
      <div class="level-item has-text-centered cpu">
        <div>
          <h3 class="title is-1">{{model.reservedCPU}} MHz</h3>
          <p class="heading">Reserved CPU</p>
        </div>
      </div>
      <div class="level-item has-text-centered memory">
        <div>
          <h3 class="title is-1">{{model.reservedMemory}} MiB</h3>
          <p class="heading">Reserved Memory</p>
        </div>
      </div>
      <div class="level-item has-text-centered disk">
        <div>
          <h3 class="title is-1">{{model.reservedDisk}} MiB</h3>
          <p class="heading">Reserved Disk</p>
        </div>
      </div>
      <div class="level-item has-text-centered tasks">
        <div>
          <h3 class="title is-1">{{model.tasks.length}}</h3>
          <p class="heading">{{pluralize "Task" model.tasks.length}}</p>
        </div>
      </div>
    </div>

    <div class="message">
      <div class="message-header">
        Allocations
      </div>
      {{search-box searchTerm=(mut searchTerm) placeholder="Search allocations..."}}
      {{#list-pagination
        source=sortedAllocations
        size=pageSize
        page=currentPage
        class="allocations" as |p|}}
        {{#list-table
          source=p.list
          sortProperty=sortProperty
          sortDescending=sortDescending as |t|}}
          {{#t.head}}
            {{#t.sort-by prop="shortId"}}ID{{/t.sort-by}}
            {{#t.sort-by prop="name"}}Name{{/t.sort-by}}
            {{#t.sort-by prop="node.shortId"}}Node{{/t.sort-by}}
            <th>CPU</th>
          {{/t.head}}
          {{#t.body as |row|}}
            <tr>
              <td>
                <a href="{{href-to "allocations.allocation" row.model}}">{{row.model.shortId}}</a>
              </td>
              <td>
                <a href="{{href-to "allocations.allocation" row.model}}">{{row.model.name}}</a>
              </td>
              <td>
                <a href="{{href-to "nodes.node" row.model.node}}">{{row.model.node.shortId}}</a>
              </td>
              <td>
                {{#if row.model.stats.isPending}}
                  ...
                {{else if row.model.stats.isRejected}}
                  !!!
                {{else}}
                  {{row.model.stats.ResourceUsage.CpuStats.Percent}}
                {{/if}}
              </td>
            </tr>
          {{/t.body}}
        {{/list-table}}
        <nav class="pagination is-centered">
          <ul class="pagination-list">
            {{#p.first class="pagination-link"}} |&lt; {{/p.first}}
            {{#p.prev class="pagination-link"}} &lt; {{/p.prev}}
            {{#each p.pageLinks as |link|}}
              {{#link-to (query-params currentPage=link.pageNumber) class="pagination-link" activeClass="is-current"}}
                {{link.pageNumber}}
              {{/link-to}}
            {{/each}}
            {{#p.next class="pagination-link"}} &gt; {{/p.next}}
            {{#p.last class="pagination-link"}} &gt;| {{/p.last}}
          </ul>
        </nav>
      {{/list-pagination}}
    </div>
  </section>
</div>
