{{#global-header class="page-header"}}
  Nodes
{{/global-header}}
{{#gutter-menu class="page-body"}}
  <section class="section">
    <div class="content">
      <div>{{search-box searchTerm=(mut searchTerm) placeholder="Search nodes..."}}</div>
    </div>
    {{#list-pagination
      source=sortedNodes
      size=pageSize
      page=currentPage as |p|}}
      {{#list-table
        source=p.list
        sortProperty=sortProperty
        sortDescending=sortDescending
        class="with-foot" as |t|}}
        {{#t.head}}
          {{#t.sort-by prop="id"}}ID{{/t.sort-by}}
          {{#t.sort-by class="is-200px is-truncatable" prop="name"}}Name{{/t.sort-by}}
          {{#t.sort-by prop="status"}}Status{{/t.sort-by}}
          <th>Address</th>
          <th>Port</th>
          {{#t.sort-by prop="datacenter"}}Datacenter{{/t.sort-by}}
          <th># Allocs</th>
        {{/t.head}}
        {{#t.body as |row|}}
          {{client-node-row node=row.model}}
        {{/t.body}}
      {{/list-table}}
      <div class="table-foot">
        <nav class="pagination">
          <div class="pagination-numbers">
            {{p.startsAt}}&ndash;{{p.endsAt}} of {{sortedNodes.length}}
          </div>
          {{#p.prev class="pagination-previous"}} &lt; {{/p.prev}}
          {{#p.next class="pagination-next"}} &gt; {{/p.next}}
          <ul class="pagination-list"></ul>
        </nav>
      </div>
    {{/list-pagination}}
  </section>
{{/gutter-menu}}
