{{#global-header class="page-header"}}
  <a href="{{href-to "nodes"}}" class="breadcrumb">Nodes</a>
  <span class="breadcrumb">{{model.shortId}}</span>
{{/global-header}}
{{#gutter-menu class="page-body"}}
  <section class="section">
    <div class="message">
      <div class="message-header">
        Allocations
      </div>
      {{search-box searchTerm=(mut searchTerm) placeholder="Search allocations..."}}
      {{#list-pagination
        source=sortedAllocations
        size=pageSize
        page=currentPage as |p|}}
        {{#list-table
          source=p.list
          sortProperty=sortProperty
          sortDescending=sortDescending
          class="allocations with-foot" as |t|}}
          {{#t.head}}
            {{#t.sort-by prop="shortId"}}ID{{/t.sort-by}}
            {{#t.sort-by prop="name"}}Name{{/t.sort-by}}
            {{#t.sort-by prop="job.name"}}Job{{/t.sort-by}}
            <th>CPU</th>
          {{/t.head}}
          {{#t.body as |row|}}
            <tr>
              <td>
                <a href="{{href-to "allocations.allocation" row.model}}">{{row.model.shortId}}</a>
              </td>
              <td>
                <a href="{{href-to "allocations.allocation" row.model}}">{{row.model.name}}</a>
              </td>
              <td>
                <a href="{{href-to "jobs.job" row.model.job}}">{{row.model.job.name}}</a>
                <span class="is-faded">/ {{row.model.taskGroup.name}}</span>
              </td>
              <td>
                {{#if row.model.stats.isPending}}
                  ...
                {{else if row.model.stats.isRejected}}
                  !!!
                {{else}}
                  {{row.model.stats.ResourceUsage.CpuStats.Percent}}
                {{/if}}
              </td>
            </tr>
          {{/t.body}}
        {{/list-table}}
        <div class="table-foot">
          <nav class="pagination">
            <div class="pagination-numbers">
              {{p.startsAt}}&ndash;{{p.endsAt}} of {{sortedAllocations.length}}
            </div>
            {{#p.prev class="pagination-previous"}} &lt; {{/p.prev}}
            {{#p.next class="pagination-next"}} &gt; {{/p.next}}
            <ul class="pagination-list"></ul>
          </nav>
        </div>
      {{/list-pagination}}
    </div>

    <div class="message">
      <div class="message-header">
        Attributes
      </div>
      {{attributes-table attributes=model.attributes.attributesStructured}}
    </div>
  </section>
{{/gutter-menu}}
