{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#let (cannot "exec allocation" namespace=this.job.namespace) as |cannotExec|}}
  <button
    data-test-exec-button
    type="button"
    class="button exec-button is-outline is-small {{if cannotExec "tooltip"}}"
    disabled={{if cannotExec 'disabled'}}
    aria-label={{if cannotExec "You don’t have permission to exec"}}
    {{action "open"}}
    {{keyboard-shortcut 
      label="Exec"
      pattern=(array "e" "x" "e" "c")
      action=(action "open")
    }}>
    {{x-icon "console"}}
    <span>Exec</span>
  </button>
{{/let}}

