<button {{action "toggleOpen"}} class="toggle-button {{if hasPendingAllocations "is-loading"}}" data-test-task-group-name>
  {{x-icon (if isOpen "chevron-down" "chevron-right")}}
  {{taskGroup.name}}
</button>
{{#if isOpen}}
  <ul class="task-list">
    {{#each sortedTasks as |task|}}
      {{#if openInNewWindow}}
        <a {{on "click" (action "openInNewWindow" taskGroup.job taskGroup task)}} class="task-item" data-test-task>
          <Exec::TaskContents
            @task={{task}}
            @active={{and currentRouteIsThisTaskGroup (eq task.name activeTaskName)}}
            @openInNewWindow={{openInNewWindow}} />
        </a>
      {{else}}
        <LinkTo @route="exec.task-group.task" @models={{array taskGroup.job.plainId taskGroup.name task.name}} class="task-item" data-test-task={{true}}>
          <Exec::TaskContents
            @task={{task}}
            @active={{and currentRouteIsThisTaskGroup (eq task.name activeTaskName)}}
            @openInNewWindow={{openInNewWindow}} />
        </LinkTo>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}