<section class="section service-list">
	<h1 class="title">
		<LinkTo class="back-link" @route="jobs.job.services">
			<FlightIcon
				@name="chevron-left"
				@title="Back to services"
				@size="24"
				/>
		</LinkTo>
		{{this.model.name}}
	</h1>

	<ListTable
		@source={{this.model.instances}}
		{{!-- @sortProperty={{this.sortProperty}}
		@sortDescending={{this.sortDescending}} --}}
		as |t|
	>
		<t.head>
			<t.sort-by @prop="allocation">Allocation</t.sort-by>
			<t.sort-by @prop="address">IP Address &amp; Port</t.sort-by>
		</t.head>
		<t.body as |row|>
			<tr>
				<td
					{{keyboard-shortcut 
						enumerated=true
						action=(action "gotoAllocation" row.model.allocation)
					}}
				>
					<LinkTo @route="allocations.allocation" @model={{row.model.allocation}}>{{row.model.allocation.shortId}}</LinkTo>
				</td>
				<td>
					{{row.model.address}}:{{row.model.port}}
				</td>
			</tr>
		</t.body>
	</ListTable>
</section>