  <PowerSelect
    @tagName="div"
    class="global-search"
    data-test-search
    @searchEnabled={{true}}
    @search={{perform this.search}}
    @onChange={{action 'select'}}
    @onFocus={{action 'openOnClickOrTab'}}
    @dropdownClass="global-search-dropdown"
    @calculatePosition={{this.calculatePosition}}
    @searchMessageComponent="global-search/message"
    @triggerComponent="global-search/trigger"
    @registerAPI={{action 'storeSelect'}}
    as |option|>
    <div class="color-swatch {{get option.model option.statusProperty}}"></div>
    {{get option.model option.labelProperty}}
  </PowerSelect>
