{{#if firstIndices}}
  <span data-test-match-substring>{{beforeHighlighted}}</span><span class='highlighted' data-test-match-substring>{{highlighted}}</span><span data-test-match-substring>{{afterHighlighted}}</span>
{{else}}
  {{label}}
{{/if}}
