{{! template-lint-disable no-unknown-arguments-for-builtin-components }}
<li data-test-breadcrumb-default
  class="{{if @crumb.peers "has-peers"}}"
  {{(modifier
    this.maybeKeyboardShortcut
    label="Go up a level"
    pattern=(array "u")
    menuLevel=true
    action=(action this.traverseUpALevel @crumb.args)
    exclusive=true
  )}}
>
  <LinkTo
    @params={{@crumb.args}}
    data-test-breadcrumb={{@crumb.args.firstObject}}>
    {{#if @crumb.title}}
      <dl>
        <dt>
          {{@crumb.title}}
        </dt>
        <dd>
          {{#if @crumb.peers}}
            <Breadcrumbs::Peers @peers={{@crumb.peers}}>
              {{@crumb.label}}
            </Breadcrumbs::Peers>
          {{else}}
            {{@crumb.label}}
          {{/if}}

        </dd>
      </dl>
    {{else}}
      {{@crumb.label}}
    {{/if}}
  </LinkTo>
</li>