{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{! template-lint-disable no-unknown-arguments-for-builtin-components }}
<li data-test-breadcrumb-default
  {{(modifier
    this.maybeKeyboardShortcut
    label="Go up a level"
    pattern=(array "u")
    menuLevel=true
    action=(action this.traverseUpALevel @crumb.args)
    exclusive=true
  )}}
>
  <LinkTo
    @params={{@crumb.args}}
    data-test-breadcrumb={{@crumb.args.firstObject}}>
    {{#if @crumb.title}}
      <dl>
        <dt>
          {{@crumb.title}}
        </dt>
        <dd>
          {{@crumb.label}}
        </dd>
      </dl>
    {{else}}
      {{@crumb.label}}
    {{/if}}
  </LinkTo>
</li>