<Trigger @do={{this.fetchParent}} as |trigger|>
  {{did-insert trigger.fns.do}}
  {{#if trigger.data.isBusy}}
    <li>
      <a href="#" aria-label="loading" data-test-breadcrumb="loading">
        …
      </a>
    </li>
  {{/if}}
  {{#if trigger.data.isSuccess}}
    {{#if trigger.data.result}}
      <li>
        <LinkTo
          @route="jobs.job.index"
          @model={{trigger.data.result.plainId}}
          @query={{hash namespace=(or trigger.data.result.namespace.name "default")}}
          data-test-breadcrumb={{@crumb.args.firstObject}}
        >
          {{trigger.data.result.trimmedName}}
        </LinkTo>
      </li>
    {{/if}}
    <li>
      <LinkTo
        @route="jobs.job.index"
        @model={{this.job.plainId}}
        @query={{hash namespace=(or this.job.namespace.name "default")}}
        data-test-breadcrumb={{@crumb.args.firstObject}}
      >
        {{this.job.trimmedName}}
      </LinkTo>
    </li>
  {{/if}}
</Trigger>