<section class="section">
    <header class="run-job-header">
        <h1 class="title is-3">Choose a template</h1>
        <p>A plan will be requested before the job is submitted.  You can pick a template or write your own job spec.</p>
    </header>
    <main class="radio-group" data-test-template-list>
        <Hds::Form::RadioCard::Group @alignment="left" as |G|>
            <G.Legend>Select a Template</G.Legend>
            {{#each this.templates as |card|}}
                <G.RadioCard @layout="fixed" @maxWidth="30%" id={{card.id}} data-test-template-card={{card.label}} {{on "change" this.onChange}} as |R|>
                    <R.Label data-test-template-label>{{card.label}}</R.Label>
                    <R.Description data-test-template-description>{{card.description}}</R.Description>
                </G.RadioCard>
            {{/each}}
        </Hds::Form::RadioCard::Group>
    </main>
    {{#if (eq this.templates.length 0)}}
        <h3 data-test-empty-jobs-list-headline class="empty-message-headline">
          You have no templates to choose from. Would you like to <Hds::Link::Inline @route="jobs.run.templates.new" data-test-create-inline>create</Hds::Link::Inline> one?
        </h3>
    {{/if}}
    <Hds::ButtonSet>
        <Hds::Button @text="Apply" {{on "click" (fn this.navigateToJobsRun this.selectedTemplate)}} disabled={{is-equal this.selectedTemplate null}} data-test-apply />
        <Hds::Button @text="Cancel" {{on "click" this.navigateToJobsRun}} @color="critical" data-test-cancel />
    </Hds::ButtonSet>
</section>