<div
	class="sidebar has-subnav {{if this.isSideBarOpen "open"}}"
	{{on-click-outside
		@fns.closeSidebar
		capture=true
	}}
>
	{{#if @service}}
		{{keyboard-commands this.keyCommands}}
		<header class="detail-header">
			<h1 class="title">Service Details for {{@service.name}}; {{@service.refID}}</h1>
			<button
				data-test-close-service-sidebar
				class="button is-borderless"
				type="button"
				{{on "click" @fns.closeSidebar}}
			>
				{{x-icon "cancel"}}
			</button>
		</header>
	{{/if}}
</div>
