<div
	class="sidebar has-subnav service-sidebar {{if this.isSideBarOpen "open"}}"
	{{on-click-outside
		@fns.closeSidebar
		capture=true
	}}
>
	{{#if @service}}
		{{keyboard-commands this.keyCommands}}
		<header class="detail-header">
			<h1 class="title">Service Details for {{@service.name}}</h1>
			<button
				data-test-close-service-sidebar
				class="button is-borderless"
				type="button"
				{{on "click" @fns.closeSidebar}}
			>
				{{x-icon "cancel"}}
			</button>
		</header>

        <ListTable @source={{@service.mostRecentChecks}} as |t|>
          <t.head>
            <th>
              Name
            </th>
            <th>
              Status
            </th>
            <td>
              Error Output
            </td>
          </t.head>
          <t.body as |row|>
            <tr>
							<td class="name">
								<span title={{row.model.Check}}>{{row.model.Check}}</span>
							</td>
							<td class="status">
								<span>
									{{#if (eq row.model.Status "success")}}
										<FlightIcon @name="check-square-fill" @color="green" />
										Healthy
									{{else if (eq row.model.Status "failure")}}
										<FlightIcon @name="x-square-fill" @color="red" />
										Unhealthy
									{{else if (eq row.model.Status "pending")}}
										Pending
									{{/if}}
								</span>
							</td>
							<td>
								<code class="service-output">
									{{row.model.Output}}
								</code>
							</td>
						</tr>
					</t.body>
				</ListTable>


	{{/if}}
</div>
