<div
	class="sidebar has-subnav {{if this.isSideBarOpen "open"}}"
	{{on-click-outside
		@fns.closeSidebar
		capture=true
	}}
>
	{{#if @service}}
		{{keyboard-commands this.keyCommands}}
		<header class="detail-header">
			<h1 class="title">Service Details for {{@service.name}}</h1>
			<button
				data-test-close-service-sidebar
				class="button is-borderless"
				type="button"
				{{on "click" @fns.closeSidebar}}
			>
				{{x-icon "cancel"}}
			</button>
		</header>

        <ListTable @source={{@service.mostRecentChecks}} as |t|>
          <t.head>
            <th>
              Name
            </th>
            <th>
              Status
            </th>
            <td>
              Error Output
            </td>
          </t.head>
          <t.body as |row|>
            <tr>
							<td>{{row.model.Check}}</td>
							<td>{{row.model.Status}}</td>
							<td>{{row.model.Output}}</td>
						</tr>
					</t.body>
				</ListTable>


	{{/if}}
</div>
