{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<table class="table is-striped is-fixed is-compact is-darkened no-mobile-condense" ...attributes>
  <thead>
    <tr>
      <th class="is-one-third">Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <AttributesSection @attributes={{@attributePairs}}
      @editable={{@editable}}
      @onKVEdit={{@onKVEdit}}
      @onKVSave={{@onKVSave}}
      @copyable={{@copyable}}
    />
  </tbody>
</table>
