{{yield}}

<button {{on "click" this.events.stop}}>Shut down everything</button>

<section class="timeline" {{did-insert this.scrollToEnd}}
{{did-update this.scrollToEnd this.streamIndexes this.clients}}
>
  {{#each this.streamIndexes as |index|}}
    <div class="column">
      <div class="clients">
        {{#each this.entities.clients as |client|}}
          {{#if (find-by 'Index' index client.streamEvents)}}
            <div class="client-node">
              <h2>{{client.name}}</h2>
            </div>
          {{else}}
            <div class="client-node vacant">
              <h2>{{client.name}}</h2>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <div class="events">
        {{#each (filter-by "Index" index this.stream) as |event|}}
          <span class="event {{event.Topic}}" onclick={{action "logEvent" event}}>
            {{#if (eq event.Topic "Job")}}
              <FlightIcon @name="briefcase" />
            {{else if (eq event.Topic "Node")}}
              <FlightIcon @name="server" />
            {{else if (eq event.Topic "Evaluation")}}
              <FlightIcon @name="running" />
            {{else if (eq event.Topic "Deployment")}}
              <FlightIcon @name="rocket" />
            {{else if (eq event.Topic "Allocation")}}
              <FlightIcon @name="bookmark" />
            {{else if (eq event.Topic "Service")}}
              <FlightIcon @name="api" />
            {{/if}}
          </span>
        {{/each}}
      </div>
      <footer>
        <span>{{index}}</span>
      </footer>
    </div>
  {{/each}}
</section>

<section class="entities"
{{did-insert this.fetchEntities}}>
{{!-- <svg>
  <g>
    <circle
      {{did-insert this.addCircle}}
      {{did-update this.updateCircle}}
      {{will-destroy this.removeCircle}}
    />
  </g>
</svg> --}}
  {{!-- {{#each-in this.entities as |entity values|}}
    <h2>{{entity}}</h2>
    <ul>
      {{#each values as |value|}}
        <li>{{value.id}}</li>
      {{/each}}
    </ul>
  {{/each-in}} --}}

  {{#each this.entities.clients as |client|}}
    <h2>{{client.name}} - ({{client.allocations.length}})</h2>
    <h3>Last updated: {{client.lastRaftIndex}} ({{format-ts client.lastUpdated}})</h3>
    
    <ul>
      {{#each client.allocations as |alloc|}}
        <li>{{alloc.id}}: {{alloc.clientStatus}}</li>
      {{/each}}
    </ul>

  {{/each}}
</section>

{{#each this.stream as |event|}}
  <hr />
    <dl class="realtime-event" onclick={{action "logEvent" event}}>
      <dt>Index:</dt>
      <dd>{{event.Index}}</dd>
      <dt>Topic:</dt>
      <dd>{{event.Topic}}</dd>
      <dt>Type:</dt>
      <dd>{{event.Type}}</dd>
      <dt>Key:</dt>
      <dd>{{event.Key}}</dd>
    </dl>
{{/each}}
