<button type="button" {{on "click" this.runSimulation}}>RUN SIMULATION</button>

<svg class="events-graph"
  viewBox="0 0 {{this.width}} {{this.height}}"
  {{did-insert this.initializeGraph}}
  {{window-resize this.onResize}}
>
  {{!-- <defs>
    <clipPath>
      <rect
        class="mask"
        x="0"
        y="0"
        width="100%"
        height="100%"
        rx="2px"
        ry="2px"
      ></rect>
    </clipPath>
  </defs> --}}
  <g class="nodes">
  {{#each this.nodes as |node|}}
    <EventNode
      @data={{node}}
      @offset={{node.offset}}
      @xScale={{this.xBand}}
      @yScale={{this.yBand}}
      @height={{this.height}}
      @logEvent={{@logEvent}}
    />
  {{/each}}
  </g>
  <g class="x-axis"
    {{did-insert this.initializeXAxis}}
    {{did-update this.transformXAxis this.data}}
  ></g>
</svg>

{{yield}}