{{#if this.keyboard.shortcutsVisible}}
  {{keyboard-commands (array this.escapeCommand)}}
  <div class="keyboard-shortcuts {{unless this.keyboard.shortcutsEnabled "shortcuts-disabled"}}">
    <header>
      <h2>Keyboard Shortcuts</h2>
      <button
        class="button is-borderless dismiss"
        type="button"
        {{on "click" (toggle "keyboard.shortcutsVisible" this)}}
      >
        {{x-icon "cancel"}}
      </button>
    </header>
    <ul>
    {{#each this.commands as |command|}}
      <li>
        <span>{{command.label}}</span>
        <span class="keys">
          {{#each command.pattern as |key|}}
            <span>{{key}}</span>
          {{/each}}
        </span>
      </li>
    {{/each}}
  </ul>
  <footer>
    <span>Keyboard shortcuts {{if this.keyboard.shortcutsEnabled "enabled" "disabled"}}</span>
    <Toggle
      @isActive={{this.keyboard.shortcutsEnabled}}
      @onToggle={{toggle "keyboard.shortcutsEnabled" this}}
      title="Enable/Disable Keyboard Shortcuts"
    />
  </footer>
  </div>
{{/if}}

{{#if this.keyboard.displayHints}}
  {{#each this.hints as |hint|}}
    <span
      {{did-insert this.tetherToElement element=hint.element hint=hint}}
      {{will-destroy this.untetherFromElement element=hint.element hint=hint}}
      data-shortcut={{hint.pattern}}
      class="{{if hint.menuLevel "menu-level"}}"
      aria-hidden="true"
    >
      {{#each hint.pattern as |key|}}
        <span>{{key}}</span>
      {{/each}}
    </span>
  {{/each}}
{{/if}}
