{{#if this.keyboard.shortcutsVisible}}
{{keyboard-commands this.keyCommands}}

<ul class="keyboard-shortcuts">
  {{#each this.keyboard.keyCommands as |command|}}
    <li>
      <strong>{{command.label}}</strong>
      <span class="keys">
        {{#each command.pattern as |key|}}
          <span>{{key}}</span>
        {{/each}}
      </span>
    </li>
  {{/each}}
</ul>
{{/if}}

{{#if this.keyboard.displayHints}}
  {{#each this.hints as |hint|}}
    <span
      data-shortcut={{hint.pattern}}
      style={{hint.style}}
    >
      {{#each hint.pattern as |key|}}
        <span>{{key}}</span>
      {{/each}}
    </span>
  {{/each}}
{{/if}}
