{{#if this.keyboard.shortcutsVisible}}
  {{keyboard-commands (array this.escapeCommand)}}
  <div class="keyboard-shortcuts"
      {{focus-trap}}
      {{on-click-outside
        (toggle "keyboard.shortcutsVisible" this)
      }}
    >
    <button
      {{autofocus}}
      class="button is-borderless dismiss"
      type="button"
      {{on "click" (toggle "keyboard.shortcutsVisible" this)}}
    >
      {{x-icon "cancel"}}
    </button>
    <ul>
      {{#each this.commands as |command|}}
        <li>
          <strong>{{command.label}}</strong>
            <span class="keys" {{on "click" (action (mut command.recording) true)}}>
              {{#if command.recording}}
                <span class="recording">Recording...</span>
              {{/if}}
              {{#each command.pattern as |key|}}
                <span>{{clean-keycommand key}}</span>
              {{/each}}
            </span>
          {{!-- {{/if}} --}}
        </li>
      {{/each}}
    </ul>
    <footer>
      <strong>Keyboard shortcuts enabled</strong>
      <Toggle
        data-test-cpu-toggle
        @isActive={{this.keyboard.enabled}}
        @onToggle={{this.toggleListener}}
        title="{{if this.keyboard.enabled "enable" "disable"}} keyboard shortcuts"
      />
    </footer>
  </div>
{{/if}}

{{#if (and this.keyboard.enabled this.keyboard.displayHints)}}
  {{#each this.hints as |hint|}}
    <span
      {{did-insert this.tetherToElement element=hint.element hint=hint}}
      {{will-destroy this.untetherFromElement element=hint.element hint=hint}}
      data-shortcut={{hint.pattern}}
      class="{{if hint.menuLevel "menu-level"}}"
      aria-hidden="true"
    >
      {{#each hint.pattern as |key|}}
        <span>{{key}}</span>
      {{/each}}
    </span>
  {{/each}}
{{/if}}
