<form class="metadata-editor">
  <label>
    <strong>Key</strong>
    {{#if @constantKey}}
      <span class="constant-key">{{@kv.key}}</span>
    {{else}}
      <Input
        id="new-meta-key"
        @type="text"
        @value={{@kv.key}}
        class="input"
        {{on "input" (fn @onEdit @kv)}}
      />
    {{/if}}
  </label>
  <label>
    <strong>Value</strong>
    {{#if @autofocusValue}}
      <Input
        @type="text"
        @value={{@kv.value}}
        class="input"
        {{autofocus}}
        {{on "input" (fn @onEdit @kv)}}
      />
    {{else}}
      <Input
        @type="text"
        @value={{@kv.value}}
        class="input"
        {{on "input" (fn @onEdit @kv)}}
      />
    {{/if}}
  </label>
  <footer>
    {{yield}}
  </footer>
</form>
