{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form class="acl-form namespace-editor" autocomplete="off" {{on "submit" this.save}}>
	{{#if this.namespace.isNew }}
		<Hds::Form::TextInput::Field
			@isRequired={{true}}
			data-test-namespace-name-input
			@value={{@namespace.name}}
			{{on "input" this.updateNamespaceName}}
			{{autofocus ignore=(not @namespace.isNew)}}
		as |F|>
			<F.Label>Name</F.Label>
		</Hds::Form::TextInput::Field>
	{{/if}}

	<Hds::CodeEditor
		data-test-namespace-editor
		@language="json"
		@isLintingEnabled={{true}}
		@value={{this.definitionString}}
		@onInput={{this.updateNamespaceDefinition}}
		@onLint={{this.onLint}}
		as |CE|
	>
		<CE.Title>Definition</CE.Title>
	</Hds::CodeEditor>

	<footer>
		{{#if (can "update namespace")}}
      <Hds::Button @text="Save Namespace" @color="primary" disabled={{this.hasLintingErrors}}
        {{on "click" this.save}}
		data-test-save-namespace
      />
		{{/if}}
	</footer>
</form>