<form class="edit-policy" autocomplete="off">
	{{#if @isNew }}
		<label>
			<span>
				Policy Name
			</span>
			<Input
				data-test-policy-name
				@type="text"
				@value={{@policy.name}}
				class="input"
			/>
		</label>
	{{/if}}

	<div class="boxed-section">
		<div class="boxed-section-head">
			Policy Definition
		</div>
		<div class="boxed-section-body is-full-bleed">

			<div
				class="policy-editor"
				data-test-json-editor
				{{code-mirror
					theme="hashi"
					mode="terraform"
					content=@policy.rules
					onUpdate=@onUpdate
					extraKeys=(hash Cmd-Enter=(action "onSave"))
				}}>
			</div>
		</div>
	</div>

	<div>
		<label>
			<span>
				Description (optional)
			</span>
			<Textarea
				data-test-policy-description
				@value={{@policy.description}}
				class="input"
			/>
		</label>
	</div>

	<footer>
		<button
			{{on "click" (fn @onSave this.policyString)}}
			disabled={{this.shouldDisableSave}}
			class="button is-primary"
			type="button"
		>
			Save Policy
		</button>
	</footer>
</form>