{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
~}}

<form class="edit-policy" autocomplete="off" {{on "submit" this.save}}>
	{{#if @policy.isNew }}
		<label>
			<span>
				Policy Name
			</span>
			<Input
				data-test-policy-name-input
				@type="text"
				@value={{@policy.name}}
				class="input"
				{{autofocus}}
			/>
		</label>
	{{/if}}

	<div class="boxed-section">
		<div class="boxed-section-head">
			Policy Definition
		</div>
		<div class="boxed-section-body is-full-bleed">

			<div
				class="policy-editor"
				data-test-policy-editor
				{{code-mirror
          screenReaderLabel="Policy definition"
          theme="hashi"
          mode="ruby"
          content=@policy.rules
          onUpdate=this.updatePolicyRules
          autofocus=false
					extraKeys=(hash Cmd-Enter=this.save)
				}} />
		</div>
	</div>

	<div>
		<label>
			<span>
				Description (optional)
			</span>
			<Input
				data-test-policy-description
				@value={{@policy.description}}
				class="input"
			/>
		</label>
	</div>

	<footer>
		{{#if (can "update policy")}}
		<Hds::Button
			@text="Save Policy"
			@type="submit"
			data-test-save-policy
			{{on "click" this.save}}
		/>
		{{/if}}
	</footer>
</form>