{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form class="acl-form" autocomplete="off" {{on "submit" this.save}}>
	{{#if @policy.isNew }}
		<Hds::Form::TextInput::Field
			@isRequired={{true}}
			data-test-policy-name-input
			@value={{@policy.name}}
			{{on "input" this.updatePolicyName}}
			{{autofocus}}
		as |F|>
			<F.Label>Policy Name</F.Label>
		</Hds::Form::TextInput::Field>
	{{/if}}

	<Hds::CodeEditor
		class="policy-editor"
		data-test-policy-editor
		@extraKeys={{hash Cmd-Enter=this.save}}
		@language="ruby"
		@value={{@policy.rules}}
		@onInput={{this.updatePolicyRules}}
		as |CE|
	>
		<CE.Title>Policy Definition</CE.Title>
	</Hds::CodeEditor>

	<div>
		<label>
			<span>
				Description (optional)
			</span>
			<Input
				data-test-policy-description
				@value={{@policy.description}}
				class="input"
			/>
		</label>
	</div>

	<footer>
		{{#if (can "update policy")}}
		<Hds::Button
			@text="Save Policy"
			@type="submit"
			data-test-save-policy
			{{on "click" this.save}}
		/>
		{{/if}}
	</footer>
</form>