<form class="edit-policy" autocomplete="off">
	{{#if @policy.isNew }}
    <div class="related-entities related-entities-hint">
      <p>Prefix your policy name with <code>_:/</code> to automatically make your policy apply to a specified namespace, job, task group, or task.<br />
      Format: <code>_:/&lt;namespace&gt;/&lt;jobname&gt;</code>, <code>_:/&lt;namespace&gt;/&lt;jobname&gt;/&lt;groupname&gt;</code>, <code>_:/&lt;namespace&gt;/&lt;jobname&gt;/&lt;groupname&gt;/&lt;taskname&gt;</code></p>
    </div>

		<label>
			<span>
				Policy Name
			</span>
			<Input
				data-test-policy-name
				@type="text"
				@value={{@policy.name}}
				class="input"
			/>
		</label>
	{{/if}}

	<div class="boxed-section">
		<div class="boxed-section-head">
			Policy Definition
		</div>
		<div class="boxed-section-body is-full-bleed">

			<div
				class="policy-editor"
				data-test-json-editor
				{{code-mirror
					theme="hashi"
					mode="terraform"
					content=@policy.rules
					onUpdate=(action (mut @policy.rules))
					extraKeys=(hash Cmd-Enter=(action "onSave"))
				}}>
			</div>
		</div>
	</div>

	<div>
		<label>
			<span>
				Description (optional)
			</span>
			<Textarea
				data-test-policy-description
				@value={{@policy.description}}
				class="input"
			/>
		</label>
	</div>

	{{#if this.shouldShowLinkedEntities}}
    <PolicyRelatedEntities
      @new={{@policy.isNew}}
      @job={{@policy.nameLinkedEntities.job}}
      @group={{@policy.nameLinkedEntities.group}}
      @task={{@policy.nameLinkedEntities.task}}
      @namespace={{@policy.nameLinkedEntities.namespace}}
    />
  {{/if}}

	<footer>
		{{#if (can "update policy")}}
			<button
				{{on "click" (fn @onSave this.policyString)}}
				disabled={{this.shouldDisableSave}}
				class="button is-primary"
				type="button"
			>
				Save Policy
			</button>
		{{/if}}
	</footer>
</form>