{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if this.token.selfToken}}
  <PowerSelect
  data-test-header-profile-dropdown
  {{keyboard-shortcut menuLevel=true pattern=(array "g" "p") }}
  @options={{this.profileOptions}}
  @onChange={{action (queue 
      (fn (mut this.profileSelection))
      this.profileSelection.action
  )}}
  @dropdownClass="dropdown-options"
  @matchTriggerWidth={{false}}
  @selected={{get this.profileSelection "key"}}
  class="profile-dropdown navbar-item"
  as |option|>
  <span class="ember-power-select-prefix">Profile</span>
  <span class="dropdown-label" data-test-dropdown-option={{option.key}}>{{option.label}}</span>
  </PowerSelect>
{{else}}
  <LinkTo data-test-header-signin-link @route="settings.tokens" class="navbar-item" {{keyboard-shortcut menuLevel=true pattern=(array "g" "p") }}>
    Sign In
  </LinkTo>
{{/if}}

{{yield}}
