{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<li class="timeline-note">
  {{#if this.label}}
    <strong data-test-reschedule-label>{{this.label}}</strong>
  {{/if}}
  {{format-ts this.time}}
</li>
<li class="timeline-object" data-test-allocation={{this.allocation.id}}>
  <div class="boxed-section">
    {{#unless this.linkToAllocation}}
      <div class="boxed-section-head" data-test-row-heading>
        This Allocation
      </div>
    {{/unless}}
    <div class="boxed-section-body inline-definitions">
      <div class="columns">
        <div class="column is-centered is-minimum">
          <span data-test-allocation-status class="tag {{this.allocation.statusClass}}">
            {{this.allocation.clientStatus}}
          </span>
        </div>
        <div class="column">
          <div class="boxed-section-row">
            <span class="pair">
              <span class="term">Allocation</span>
              {{#if this.linkToAllocation}}
                <LinkTo @route="allocations.allocation" @model={{this.allocation.id}}>
                  <code data-test-allocation-link>{{this.allocation.shortId}}</code>
                </LinkTo>
              {{else}}
                <code data-test-allocation-link>{{this.allocation.shortId}}</code>
              {{/if}}
            </span>
            <span class="pair">
              <span class="term">Client</span>
              <span>
                <LinkTo @route="clients.client" @model={{this.allocation.node.id}} data-test-node-link>
                  <code>{{this.allocation.node.id}}</code>
                </LinkTo>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
