{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<form class="acl-form" autocomplete="off" {{on "submit" this.save}}>
	<label>
		<span>
			Token Name
		</span>
		<Input
			data-test-token-name-input
			@type="text"
			@value={{@token.name}}
			class="input"
			{{autofocus}}
		/>
	</label>

{{!-- TODO: add expiration time here --}}

  {{#unless @token.isNew}}
  <div>
    <Hds::Form::MaskedInput::Field @isMasked={{false}} @hasCopyButton={{true}} @value={{@token.accessor}} readonly as |F|>
      <F.Label>Token Accessor</F.Label>
    </Hds::Form::MaskedInput::Field>
  </div>

  <div>
    <Hds::Form::MaskedInput::Field @hasCopyButton={{true}} @value={{@token.secret}} readonly as |F|>
      <F.Label>Token Secret</F.Label>
    </Hds::Form::MaskedInput::Field>
  </div>
  {{/unless}}

  <div>
    <Hds::Form::Radio::Group @layout="horizontal" @name="method-demo1" {{on "change" this.updateTokenType}} as |G|>
      <G.Legend>Client or Management token?</G.Legend>
      <G.HelperText>See  <Hds::Link::Inline @href="https://developer.hashicorp.com/nomad/tutorials/access-control/access-control-tokens#token-types">Token types documentation</Hds::Link::Inline> for more information.</G.HelperText>
      <G.Radio::Field
        @id="client"
        checked={{eq @token.type "client"}}
      as |F|>
        <F.Label>Client</F.Label>
      </G.Radio::Field>
      <G.Radio::Field
        @id="management"
        checked={{eq @token.type "management"}}
      as |F|>
        <F.Label>Management</F.Label>
      </G.Radio::Field>
    </Hds::Form::Radio::Group>
  </div>

  {{#if (eq @token.type "client")}}
    <div>
      <label>
        Policies
      </label>
      <Hds::Table @caption="A list of policies available to this token" class="acl-table"
        @model={{@policies}}
        @columns={{array
          (hash key="selected" width="80px")
          (hash key="name" label="Name" isSortable=true)
          (hash key="description" label="Description")
          (hash key="definition" label="View Policy Definition")
        }}
        @sortBy="name"
      >
        <:body as |B|>
          <B.Tr>
            <B.Td class="selection-checkbox">
              <label>
                <input type="checkbox"
                  checked={{find-by "name" B.data.name @token.policies}}
                  {{on "change" (action this.updateTokenPolicies B.data)}}
                />
              </label>
            </B.Td>
            <B.Td>{{B.data.name}}</B.Td>
            <B.Td>{{B.data.description}}</B.Td>
            <B.Td>
              <LinkTo @route="access-control.policies.policy" @model={{B.data.name}}>
                View Policy Definition
              </LinkTo>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </div>

    <div>
      <label>
        Roles
      </label>
      <Hds::Table @caption="A list of roles available to this token" class="acl-table"
        @model={{@roles}}
        @columns={{array
          (hash key="selected" width="80px")
          (hash key="name" label="Name" isSortable=true)
          (hash key="description" label="Description")
          (hash key="policies" label="Policies")
          (hash key="definition" label="View Role Info")
        }}
        @sortBy="name"
      >
        <:body as |B|>
          <B.Tr>
            <B.Td class="selection-checkbox">
              <label>
                <input type="checkbox"
                  checked={{find-by "name" B.data.name @token.roles}}
                  {{on "change" (action this.updateTokenRoles B.data)}}
                />
              </label>
            </B.Td>
            <B.Td>{{B.data.name}}</B.Td>
            <B.Td>{{B.data.description}}</B.Td>
            <B.Td>
              <div class="tag-group">
                {{#each B.data.policies as |policy|}}
                  {{#if policy.name}}
                    <Hds::Tag @color="primary" @text="{{policy.name}}" @route="access-control.policies.policy" @model="{{policy.name}}" />
                  {{/if}}
                {{else}}
                  Role contains no policies
                {{/each}}
              </div>
            </B.Td>
            <B.Td>
              <LinkTo @route="access-control.roles.role" @model={{B.data.id}}>
                View Role Info
              </LinkTo>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    </div>


  {{else}}
  <p>Management-type tokens have access to all permissions.</p>
  {{/if}}

	<footer>
		{{#if (can "update token")}}
      <Hds::Button @text="Save Token" @color="primary"
        {{on "click" this.save}}
      />
		{{/if}}
	</footer>
</form>