<div class="accordion-head-content">
  {{yield}}
</div>
<button
  data-test-accordion-toggle
  class="button is-light is-compact pull-right accordion-toggle {{unless this.isExpandable "is-invisible"}} {{if this.tooltip "tooltip multiline"}}"
  disabled={{if this.isDisabled "disabled"}}
  aria-label={{this.tooltip}}
  onclick={{action (if this.isOpen this.onClose this.onOpen) this.item}}
  type="button">
  {{this.buttonLabel}}
</button>
