{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="accordion-head-content">
  {{yield}}
</div>
<button
  data-test-accordion-toggle
  data-test-accordion-summary-chart={{this.buttonType}}
  class="button is-light is-compact pull-right accordion-toggle
    {{unless this.isExpandable 'is-invisible'}}"
  {{on "click" (fn (if this.isOpen this.onClose this.onOpen) this.item)}}
  type="button"
>
  {{this.buttonLabel}}
</button>