{{#global-header class="page-header"}}
  <span class="breadcrumb">Allocations</span>
  {{#link-to "allocations.allocation" model.allocation class="breadcrumb"}}
    {{model.allocation.shortId}}
  {{/link-to}}
  {{#link-to "allocations.allocation.task" model.allocation model class="breadcrumb"}}
    {{model.name}}
  {{/link-to}}
{{/global-header}}
{{#gutter-menu class="page-body"}}
  {{partial "allocations/allocation/task/subnav"}}
  <section class="section">
    <h1 class="title">
      {{model.name}}
      <span class="bumper-left tag {{model.stateClass}}">{{model.state}}</span>
    </h1>

    <div class="boxed-section is-small">
      <div class="boxed-section-body inline-definitions">
        <span class="label">Task Details</span>
        <span class="pair">
          <span class="term">Started At</span>
          {{moment-format model.startedAt "MM/DD/YY HH:mm:ss"}}
        </span>
        {{#if model.finishedAt}}
          <span class="pair">
            <span class="term">Finished At</span>
            {{moment-format model.finishedAt "MM/DD/YY HH:mm:ss"}}
          </span>
        {{/if}}
        <span class="pair">
          <span class="term">Driver</span>
          {{model.task.driver}}
        </span>
      </div>
    </div>

    {{#if ports.length}}
      <div class="boxed-section">
        <div class="boxed-section-head">
          Addresses
        </div>
        <div class="boxed-section-body is-full-bleed">
          {{#list-table source=ports class="addresses-list" as |t|}}
            {{#t.head}}
              <th class="is-1">Dynamic?</th>
              <th class="is-2">Name</th>
              <th>Address</th>
            {{/t.head}}
            {{#t.body as |row|}}
              <tr>
                <td>{{if row.model.isDynamic "Yes" "No"}}</td>
                <td>{{row.model.name}}</td>
                <td>
                  <a href="http://{{model.allocation.node.address}}:{{row.model.port}}" target="_blank">
                    {{model.allocation.node.address}}:{{row.model.port}}
                  </a>
                </td>
              </tr>
            {{/t.body}}
          {{/list-table}}
        </div>
      </div>
    {{/if}}

    <div class="boxed-section">
      <div class="boxed-section-head">
        Recent Events
      </div>
      <div class="boxed-section-body is-full-bleed">
        {{#list-table source=(reverse model.events) class="is-striped task-events" as |t|}}
          {{#t.head}}
            <th class="is-3">Time</th>
            <th class="is-1">Type</th>
            <th>Description</th>
          {{/t.head}}
          {{#t.body as |row|}}
            <tr>
              <td>{{moment-format row.model.time "MM/DD/YY HH:mm:ss"}}</td>
              <td>{{row.model.type}}</td>
              <td>
                {{#if row.model.displayMessage}}
                  {{row.model.displayMessage}}
                {{else}}
                  <em>No message</em>
                {{/if}}
              </td>
            </tr>
          {{/t.body}}
        {{/list-table}}
      </div>
    </div>
  </section>
{{/gutter-menu}}
