{{title "Server " model.name}}
<ServerSubnav @server={{model}} />
<section class="section is-full-width">
  {{#if (can "read agent")}}
    <AgentMonitor
      @level={{level}}
      @server={{model}}
      @onLevelChange={{action (mut level)}} />
  {{else}}
    <ForbiddenMessage @permission="agent:read" />
  {{/if}}
</section>
