{{!
  Copyright IBM Corp. 2015, 2025
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Server " this.model.name}}
<ServerSubnav @server={{this.model}} />
<section class="section is-full-width">
  {{#if (can "read agent")}}
    <AgentMonitor
      @level={{this.level}}
      @server={{this.model}}
      @onLevelChange={{fn (mut this.level)}} />
  {{else}}
    <ForbiddenMessage @permission="agent:read" />
  {{/if}}
</section>
