<div
  class="allocation-status-block {{unless this.countToShow "rest-only"}}"
  style={{html-safe (concat "width: " @width "px")}}
>
  {{#if this.countToShow}}
    <div class="ungrouped-allocs">
      {{#each (range 0 this.countToShow)}}
        <span class="represented-allocation {{@status}} {{@health}} {{@canary}}">
          {{#if (eq @status "running")}}
            <span class="alloc-health-indicator">
              {{#if (eq @health "healthy")}}
                <FlightIcon @name="check" @color="white" />
              {{else}}
                <FlightIcon @name="running" @color="white" />
              {{/if}}
            </span>
          {{/if}}
        </span>
      {{/each}}
    </div>
  {{/if}}
  {{#if this.remaining}}
    <span class="represented-allocation rest {{@status}} {{@health}} {{@canary}}">
      {{#if this.countToShow}}+{{/if}}{{this.remaining}}
      {{#if (eq @canary "canary")}}
        <span class="alloc-canary-indicator" />
      {{/if}}
      {{#if (eq @status "running")}}
        <span class="alloc-health-indicator">
          {{#if (eq @health "healthy")}}
            <FlightIcon @name="check" @color="#25ba81" />
          {{else}}
            <FlightIcon @name="running" @color="black" />
          {{/if}}
        </span>
      {{/if}}
    </span>
  {{/if}}
</div>