<div
  class="allocation-status-block {{unless this.countToShow "rest-only"}}"
  style="width: {{@width}}%"
>
  {{#if this.countToShow}}
    <div class="allocs">
      {{#each (range 0 this.countToShow) as |alloc|}}
        <span class="represented-allocation {{@status}}"></span>
      {{/each}}
    </div>
  {{/if}}
  {{#if this.remaining}}
    <span class="represented-allocation rest {{@status}}">
      {{#if this.countToShow}}+{{/if}}{{this.remaining}}
    </span>
  {{/if}}
</div>