{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="allocation-status-row">
  {{#if this.showSummaries}}
    <div class="alloc-status-summaries"
      {{did-insert this.captureElement}}
      {{window-resize this.reflow}}
    >
      {{#each-in @allocBlocks as |status allocsByStatus|}}
        {{#each-in allocsByStatus as |health allocsByHealth|}}
          {{#each-in allocsByHealth as |canary allocsByCanary|}}
            {{#if (gt allocsByCanary.length 0)}}
              <JobStatus::AllocationStatusBlock
                @status={{status}}
                @health={{health}}
                @canary={{canary}}
                @steady={{@steady}}
                @count={{allocsByCanary.length}}
                @width={{compute (action this.calcPerc) allocsByCanary.length}}
                @allocs={{allocsByCanary}} />
            {{/if}}
          {{/each-in}}
        {{/each-in}}
      {{/each-in}}
    </div>
  {{else}}
    <div class="ungrouped-allocs"
      {{did-insert this.captureElement}}
      {{window-resize this.reflow}}
    >
      {{#each-in @allocBlocks as |status allocsByStatus|}}
        {{#each-in allocsByStatus as |health allocsByHealth|}}
          {{#each-in allocsByHealth as |canary allocsByCanary|}}
            {{#if (gt allocsByCanary.length 0)}}
              {{#each (range 0 allocsByCanary.length) as |i|}}
                <ConditionalLinkTo
                  @condition={{not (eq status "unplaced")}}
                  @route="allocations.allocation"
                  @model={{get allocsByCanary i}}
                  @class="represented-allocation {{status}} {{health}} {{canary}}"
                  @label="View allocation"
                >
                  {{#unless @steady}}
                    {{#if (eq canary "canary")}}
                      <span class="alloc-canary-indicator" />
                    {{/if}}
                    {{#if (eq status "running")}}
                      <span class="alloc-health-indicator">
                        {{#if (eq health "healthy")}}
                          <FlightIcon @name="check" @color="white" />
                        {{else}}
                          <FlightIcon @name="running" @color="white" />
                        {{/if}}
                      </span>
                    {{/if}}
                  {{/unless}}
                </ConditionalLinkTo>
              {{/each}}
            {{/if}}
          {{/each-in}}
        {{/each-in}}
      {{/each-in}}
    </div>
  {{/if}}
</div>
       
