<div class="deployment-history"
  {{did-insert (action this.watchDeploymentHistory)}}
>
  <h4 class="title is-5">Deployment History</h4>
  <ol class="timeline">
    {{#each this.history as |deployment-log|}}
      <li class="timeline-object {{if (eq deployment-log.exitCode 1) "error"}}">
        <div class="boxed-section-head is-light">
          <LinkTo @route="allocations.allocation" @model={{deployment-log.state.allocation}} class="allocation-reference">{{deployment-log.state.allocation.shortId}}</LinkTo>
          <span><strong>{{deployment-log.type}}:</strong> {{deployment-log.message}}</span>
          <span class="pull-right">
            {{format-ts deployment-log.time}}
          </span>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
