<div class="deployment-history">
  <h4 class="title is-5">Deployment History</h4>
  <ul>
    {{#each this.history as |deployment-log|}}
      <li>
        {{log "depllog: " deployment-log}}
        <strong>{{deployment-log.type}}:</strong> {{deployment-log.message}} at <span class="time">{{deployment-log.time}}</span>
      </li>
    {{/each}}
    {{!-- {{#each-in this.deploymentHistory as |deploymentId deployment|}}
      <li>
        <Hds::Badge @text={{deployment.shortId}} />
        <Hds::BadgeCount @text={{deployment.allocs.length}} @type="inverted" />
      </li>
    {{/each-in}} --}}
  </ul>
</div>
