<section class="failed-or-lost">
  <h4>Replaced Allocations</h4>
  {{#if @supportsRescheduling}}
    <ConditionalLinkTo
      @condition={{@rescheduledAllocs.length}}
      @route="jobs.job.allocations"
      @model={{@job}}
      @query={{hash scheduling='["has-been-rescheduled"]' version=(concat '[' @job.latestDeployment.versionNumber ']')}}
      @label="View Allocations"
      @class="failed-or-lost-link"
    >
      <span
        class="tooltip multiline text-center"
        role="tooltip"
        aria-label="Allocations that have been rescheduled, on another node if possible, due to failure"
      >
        <FlightIcon @name="info" />
      </span>
      {{@rescheduledAllocs.length}} Rescheduled
    </ConditionalLinkTo>
  {{/if}}

  <ConditionalLinkTo
    @condition={{@restartedAllocs.length}}
    @route="jobs.job.allocations"
    @model={{@job}}
    @query={{hash scheduling='["has-been-restarted"]' version=(concat '[' @job.latestDeployment.versionNumber ']')}}
    @label="View Allocations"
    @class="failed-or-lost-link"
  >
    <span
      class="tooltip multiline text-center"
      role="tooltip"
      aria-label="Allocations that have been restarted in-place due to a task failure"
    >
      <FlightIcon @name="info" />
    </span>
    {{@restartedAllocs.length}} Restarted
  </ConditionalLinkTo>

</section>