<section class="failed-or-lost">
  <h4>
    {{@title}}
    <span
      class="tooltip multiline text-center"
      role="tooltip"
      aria-label={{@description}}
    >
      <FlightIcon @name="info" />
    </span>
  </h4>
  {{#if (eq @title "Rescheduled")}}
    <ConditionalLinkTo
      @condition={{this.shouldLinkToAllocations}}
      @route="jobs.job.allocations"
      @model={{@job}}
      @query={{hash scheduling='["has-been-rescheduled"]' version=(concat '[' @job.latestDeployment.versionNumber ']')}}
      @label="View Allocations"
      @class="failed-or-lost-link"
    >
      {{@allocs.length}}
    </ConditionalLinkTo>
  {{/if}}
  {{#if (eq @title "Restarted")}}
    <ConditionalLinkTo
      @condition={{this.shouldLinkToAllocations}}
      @route="jobs.job.allocations"
      @model={{@job}}
      @query={{hash scheduling='["has-been-restarted"]' version=(concat '[' @job.latestDeployment.versionNumber ']')}}
      @label="View Allocations"
      @class="failed-or-lost-link"
    >
      {{@allocs.length}}
    </ConditionalLinkTo>
  {{/if}}
</section>