<div class="job-status-panel boxed-section" data-test-job-status-panel data-test-status-mode={{this.mode}}>
  <div class="boxed-section-head">
    <h2>Status</h2>
    <div class="select-mode">
      <button type="button"
        data-test-status-mode-current
        class="button is-small is-borderless {{if (eq this.mode "current") "is-active"}}"
        {{on "click" (action (mut this.mode) "current")}}
      >
        Current
      </button>
      <button type="button"
        data-test-status-mode-historical
        class="button is-small is-borderless {{if (eq this.mode "historical") "is-active"}}"
        {{on "click" (action (mut this.mode) "historical")}}>
        Historical
      </button>
    </div>
  </div>
  <div class="boxed-section-body">
    {{#if (eq this.mode "current")}}
      <h3 class="title is-4 running-allocs-title"><strong>{{@job.runningAllocs}}/{{this.totalAllocs}}</strong> Allocations Running</h3>

      <JobStatus::AllocationStatusRow @allocBlocks={{this.allocBlocks}} />

      <footer>
        <legend>
          {{#each this.allocTypes as |type|}}
            <span class="legend-item {{if (eq (get (get this.allocBlocks type.label) "length") 0) "faded"}}">
              <span class="represented-allocation {{type.label}}"></span>
              {{get (get this.allocBlocks type.label) "length"}} {{capitalize type.label}}
            </span>
          {{/each}}
        </legend>

        <section class="versions">
          <h4>Versions</h4>
          <ul>
            {{#each-in this.versions as |version allocs|}}
              <li>
                <Hds::Badge @text={{version}} />
                <Hds::BadgeCount @text={{allocs.length}} @type="inverted" />
              </li>
            {{/each-in}}
          </ul>
        </section>
      </footer>
    {{/if}}
    {{#if (eq this.mode "historical")}}
      <JobPage::Parts::SummaryChart @job={{@job}} />
    {{/if}}
  </div>
</div>