<div class="job-status-panel boxed-section">
  <div class="boxed-section-head">
    <h2>Status</h2>
    <div class="select-mode">
      <button type="button"
        class="button is-small is-borderless {{if (eq this.mode "current") "is-active"}}"
        {{on "click" (action (mut this.mode) "current")}}
      >
        Current
      </button>
      <button type="button"
        class="button is-small is-borderless {{if (eq this.mode "historical") "is-active"}}"
        {{on "click" (action (mut this.mode) "historical")}}>
        Historical
      </button>
    </div>
  </div>
  <form class="fake-box-for-manipulating-allocs">
    {{!-- TODO: TEMP --}}
    <header>Fake some data:</header>
    <label>
      <strong>Running Allocs: {{@job.runningAllocs}}</strong>
      <input type="range" 
          oninput={{action (mut @job.summary.runningAllocs) value="target.value"}} 
          min="0"
          max="100"
          value={{@job.summary.runningAllocs}}
          steps="1">
    </label>
    <label>
      <strong>Failed Allocs: {{@job.failedAllocs}}</strong>
      <input type="range" 
          oninput={{action (mut @job.summary.failedAllocs) value="target.value"}} 
          min="0"
          max="100"
          value={{@job.summary.failedAllocs}}
          steps="1">
    </label>
    <label>
      <strong>Unknown Allocs: {{@job.unknownAllocs}}</strong>
      <input type="range" 
          oninput={{action (mut @job.summary.unknownAllocs) value="target.value"}} 
          min="0"
          max="100"
          value={{@job.summary.unknownAllocs}}
          steps="1">
    </label>

  </form>
  <div class="boxed-section-body">
    {{#if (eq this.mode "current")}}
      <h3 class="title is-4 running-allocs-title"><strong>{{@job.runningAllocs}}/{{this.totalAllocs}}</strong> Allocations Running</h3>
        <JobStatus::AllocationRow @totalAllocs={{this.totalAllocs}}
          @allocBlocks={{hash
            running=@job.runningAllocs
            failed=@job.failedAllocs
            unknown=@job.unknownAllocs
          }}
        />
        {{!-- <hr />

        {{#each (range 0 @job.latestDeployment.desiredTotal) as |alloc|}}
          <span class="represented-allocation"></span>
        {{/each}} --}}
    {{/if}}
    {{#if (eq this.mode "historical")}}
      But what about before?
    {{/if}}
    {{log @job @job.allocsList @job.jobSummary}}
  </div>
</div>