<div class="update-parameters" {{did-insert (action this.fetchJobDefinition)}}>
  <h4 class="title is-5">Update Params</h4>
  {{!-- <pre><code>{{stringify-object this.updateParams}}</code></pre> --}}
  <code>
  <ul>
    {{#each this.updateParams as |group|}}
      <li>
        <span class="group">Group "{{group.name}}"</span>
        <ul>
          {{#each-in group.update as |k v|}}
            <li>
              <span class="key">{{k}}</span>
              <span class="value">{{v}}</span>
            </li>
          {{/each-in}}
        </ul>
      </li>
    {{/each}}
  </ul>
  </code>
</div>
