<div class="update-parameters" {{did-insert (action this.fetchJobDefinition)}}>
  <h4 class="title is-5">Update Params</h4>
  <code>
  <ul>
    {{#each this.updateParamGroups as |group|}}
      <li>
        <span class="group">Group "{{group.name}}"</span>
        <ul>
          {{#each-in group.update as |k v|}}
            <li>
              <span class="key">{{k}}</span>
              <span class="value">{{v}}</span>
            </li>
          {{/each-in}}
        </ul>
      </li>
    {{else}}
      {{#if this.errorState}}
        <li>
          <span class="group">Error loading parameters</span>
        </li>
      {{else}}
        <li>
          <span class="group">Loading parameters</span>
        </li>
      {{/if}}
    {{/each}}
  </ul>
  </code>
</div>
