<div class="container">
  <section class="section">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <h3 class="title is-1">{{model.length}}</h3>
          <p class="heading">Total Jobs</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h3 class="title is-1">{{pendingJobs.length}}</h3>
          <p class="heading">Pending</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h3 class="title is-1">{{runningJobs.length}}</h3>
          <p class="heading">Running</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h3 class="title is-1">{{deadJobs.length}}</h3>
          <p class="heading">Dead</p>
        </div>
      </div>
    </div>
    {{search-box searchTerm=(mut searchTerm)}}
    {{#list-pagination
      source=sortedJobs
      size=pageSize
      page=currentPage as |p|}}
      {{#list-table
        source=p.list
        sortProperty=sortProperty
        sortDescending=sortDescending as |t|}}
        {{#t.head}}
          {{#t.sort-by prop="name"}}Name{{/t.sort-by}}
          {{#t.sort-by prop="type"}}Type{{/t.sort-by}}
          {{#t.sort-by prop="priority"}}Priority{{/t.sort-by}}
          {{#t.sort-by prop="status"}}Status{{/t.sort-by}}
          <th>Groups</th>
          <th>Allocation Status</th>
          <th># Lost</th>
        {{/t.head}}
        {{#t.body key="model.id" as |row|}}
          {{job-row job=row.model}}
        {{/t.body}}
      {{/list-table}}
      <nav class="pagination is-centered">
        <ul class="pagination-list">
          {{#p.first class="pagination-link"}} |&lt; {{/p.first}}
          {{#p.prev class="pagination-link"}} &lt; {{/p.prev}}
          {{#each p.pageLinks as |link|}}
            {{#link-to (query-params currentPage=link.pageNumber) class="pagination-link" activeClass="is-current"}}
              {{link.pageNumber}}
            {{/link-to}}
          {{/each}}
          {{#p.next class="pagination-link"}} &gt; {{/p.next}}
          {{#p.last class="pagination-link"}} &gt;| {{/p.last}}
        </ul>
      </nav>
    {{/list-pagination}}
  </section>
</div>
