<section class="section">
  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Priority</td>
        <td>Status</td>
        <td>Groups</td>
        <td>Allocation Status</td>
      </tr>
    </thead>
    <tbody>
      {{#each model as |job|}}
        <tr>
          <td><a href="{{href-to "jobs.job" job.id}}">{{job.name}}</a></td>
          <td>{{job.type}}</td>
          <td>{{job.priority}}</td>
          <td>{{job.status}}</td>
          <td>--stub--</td>
          <td>--stub--</td>
        </tr>
      {{/each}}
    </tbody>
</table>
</section>
