{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Jobs"}}
<section class="section">
  {{#if this.isForbidden}}
    <ForbiddenMessage />
  {{else if this.jobs.length}}

    <Hds::Table
      @model={{this.jobs}}
      @columns={{this.tableColumns}}
    >
      <:body as |B|>
      {{!-- TODO: use <JobRow> --}}
        <B.Tr
          {{keyboard-shortcut
            enumerated=true
            action=(action "gotoJob" B.data)
          }}
        >
          {{!-- {{#each this.tableColumns as |column|}}
            <B.Td>{{get B.data (lowercase column.label)}}</B.Td>
          {{/each}} --}}
          <B.Td>
            <LinkTo
              @route="jobs.job.index"
              @model={{B.data.idWithNamespace}}
              class="is-primary"
            >
              {{B.data.name}}
              {{#if B.data.meta.structured.pack}}
                <span data-test-pack-tag class="tag is-pack">
                  {{x-icon "box" class= "test"}}
                  <span>Pack</span>
                </span>
              {{/if}}
            </LinkTo>
          </B.Td>
          {{#if this.system.shouldShowNamespaces}}
            <B.Td>{{B.data.namespace}}</B.Td>
          {{/if}}
          {{#if this.system.shouldShowNodepools}}
            <B.Td>{{B.data.nodepool}}</B.Td>
          {{/if}}
          <B.Td>
            <Hds::Badge @text="{{capitalize B.data.aggregateAllocStatus.label}}" @color={{B.data.aggregateAllocStatus.state}} @size="large" />
          </B.Td>
          <B.Td>
            {{B.data.type}}
          </B.Td>
          <B.Td>
            {{B.data.priority}}
          </B.Td>
          <B.Td>
            {{get (filter-by 'clientStatus' 'running' B.data.allocations) "length"}} running <br />
            {{B.data.allocations.length}} total <br />
            {{B.data.groupCountSum}} desired
            <hr />
            <div class="job-status-panel">
              <JobStatus::AllocationStatusRow @allocBlocks={{B.data.allocBlocks}} @steady={{true}} />
            </div>
          </B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>

    <Hds::Pagination::Compact
      @route={{this.demoRouteName}}
      @queryFunction={{this.demoQueryFunctionCompact}}
      @isDisabledPrev={{this.demoIsDisabledPrev}}
      @isDisabledNext={{this.demoIsDisabledNext}}
    />

  {{else}}
    No jobs :
  {{/if}}
</section>