{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Jobs"}}
<section class="section">
  {{#if this.isForbidden}}
    <ForbiddenMessage />
  {{else if this.jobs.length}}

    <Hds::Table
      @model={{this.jobs}}
      @columns={{this.tableColumns}}
    >
      <:body as |B|>
        <B.Tr>
          {{!-- {{#each this.tableColumns as |column|}}
            <B.Td>{{get B.data (lowercase column.label)}}</B.Td>
          {{/each}} --}}
          <B.Td>{{B.data.name}}</B.Td>
          {{#if this.system.shouldShowNamespaces}}
            <B.Td>{{B.data.namespace}}</B.Td>
          {{/if}}
          {{#if this.system.shouldShowNodepools}}
            <B.Td>{{B.data.nodepool}}</B.Td>
          {{/if}}
          <B.Td>
            STATUS PLACEHOLDER
          </B.Td>
          <B.Td>
            {{B.data.type}}
          </B.Td>
          <B.Td>
            {{B.data.priority}}
          </B.Td>
          <B.Td>
            {{get (filter-by 'clientStatus' 'running' B.data.allocations) "length"}}running <br />
            {{B.data.allocations.length}} total
          </B.Td>
        </B.Tr>
      </:body>
    </Hds::Table>

    <Hds::Pagination::Compact
      @route={{this.demoRouteName}}
      @queryFunction={{this.demoQueryFunctionCompact}}
      @isDisabledPrev={{this.demoIsDisabledPrev}}
      @isDisabledNext={{this.demoIsDisabledNext}}
    />

  {{else}}
    No jobs :
  {{/if}}
</section>