<div class="block">
  <h2><a href="{{href-to "jobs"}}">Jobs</a> / Job Detail: {{model.name}}</h2>
  <dl>
    <dt>ID</dt> <dd>{{model.id}}</dd>
    <dt>Name</dt> <dd>{{model.name}}</dd>
    <dt>Type</dt> <dd>{{model.type}}</dd>
    <dt>Datacenters</dt> <dd>{{model.datacenters}}</dd>
    <dt>Status</dt> <dd>{{model.status}}</dd>
    <dt>Periodic</dt> <dd>{{model.periodic}}</dd>
    <dt>Parameterized</dt> <dd>{{model.parameterized}}</dd>
  </dl>
</div>
