{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<section class="section">
  <div class="toolbar">
    <p class="toolbar-item">
      ACL Policies are sets of rules defining the capabilities granted to adhering tokens. You can create, modify, and delete them here.
    </p>
    <div class="toolbar-item is-right-aligned is-mobile-full-width">
      <div class="button-bar">
      {{#if (can "write policy")}}
        <Hds::Button
          @text="Create Policy"
          @icon="plus"
          @route="access-control.policies.new"
          {{keyboard-shortcut
            pattern=(array "n" "p")
            action=(action this.goToNewPolicy)
            label="Create Policy"
          }}
          data-test-create-policy
        />
      {{else}}
        <Hds::Button
          @text="Create Policy"
          @icon="plus"
          disabled
          data-test-disabled-create-policy
        />
      {{/if}}
      </div>
    </div>
  </div>
  {{#if this.policies.length}}

    <Hds::Table @caption="A list of policies for this cluster" class="acl-table"
      @model={{this.policies}}
      @columns={{array
        (hash key="name" label="Name" isSortable=true)
        (hash key="description" label="Description")
        (hash key="tokens.length" label="Tokens" isSortable=true)
        (hash key="delete" label="Delete")
      }}
      @sortBy="name"
    >
      <:body as |B|>
        <B.Tr 
          {{keyboard-shortcut 
            enumerated=true
            action=(action "openPolicy" B.data)
          }}
        >
          <B.Td>
            <LinkTo @route="access-control.policies.policy" @model={{B.data.name}}>{{B.data.name}}</LinkTo></B.Td>
          <B.Td>{{B.data.description}}</B.Td>
          <B.Td>
            <span data-test-policy-total-tokens>{{B.data.tokens.length}}</span>
            {{#if (filter-by "isExpired" B.data.tokens)}}
              <span data-test-policy-expired-tokens class="number-expired">({{get (filter-by "isExpired" B.data.tokens) "length"}} expired)</span>
            {{/if}}
          </B.Td>
          {{#if (can "destroy policy")}}
          {{!-- TODO: --}}
          {{!-- ALSO TODO: make column conditional for this and list-tokens! --}}
            <B.Td>
              <Hds::Button @text="Delete" @size="small" @color="critical"
                {{on "click" (perform this.deletePolicy B.data)}}
              />
            </B.Td>
          {{/if}}
        </B.Tr>
      </:body>
    </Hds::Table>



    <ListTable
      @source={{this.policies}}
      @class="policies no-mobile-condense" as |t|>
      <t.head>
        <th>Policy Name</th>
        {{#if (can "list token")}}
          <th>Tokens</th>
        {{/if}}
      </t.head>
      <t.body as |row|>
        <tr data-test-policy-row {{on "click" (action "openPolicy" row.model)}}
        {{keyboard-shortcut 
          enumerated=true
          action=(action "openPolicy" row.model)
        }}>
          <td data-test-policy-name>
						<LinkTo @route="access-control.policies.policy" @model={{row.model.name}}>{{row.model.name}}</LinkTo>
					</td>
          {{#if (can "list token")}}
            <td data-test-policy-token-count>
              <span>
                <span data-test-policy-total-tokens>{{row.model.tokens.length}}</span>
                {{#if (filter-by "isExpired" row.model.tokens)}}
                  <span data-test-policy-expired-tokens class="number-expired">({{get (filter-by "isExpired" row.model.tokens) "length"}} expired)</span>
                {{/if}}
              </span>
            </td>
          {{/if}}
        </tr>
      </t.body>
    </ListTable>
  {{else}}
    <div class="empty-message">
      <h3 data-test-empty-policies-list-headline class="empty-message-headline">
        No Policies
      </h3>
      <p class="empty-message-body">
        Get started by <LinkTo @route="access-control.policies.new">creating a new policy</LinkTo>
      </p>
    </div>
  {{/if}}
</section>
