{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<label class="value-label">
  <span>
    Value
  </span>
  <Input
    @type={{this.inputType}}
    @value={{@entry.value}}
    class="input value-input"
    {{! prevent auto-fill }}
    autocomplete="new-password"
    data-test-var-value
  />
  <button
    class="show-hide-values button is-light"
    type="button"
    tabindex="-1"
    {{on "click" this.toggleInputType}}
  >
    <FlightIcon
      @name={{if this.isObscured "eye-off" "eye"}}
      @title={{if this.isObscured "Show Value" "Hide Value"}}
    />
  </button>
</label>