{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<p class="related-entities notification">
<FlightIcon @name="info-fill" @color="var(--blue)" />
<span>
    This variable {{#if @new}}will be{{else}}is{{/if}} accessible by 
    {{#if @task}}
    task <strong>{{@task}}</strong> in group <LinkTo @route="jobs.job.task-group" @models={{array (concat @job "@" @namespace) @group}}>{{@group}} <FlightIcon @name="external-link" /></LinkTo>
    {{else if @group}}
    group <LinkTo @route="jobs.job.task-group" @models={{array (concat @job "@" @namespace) @group}}>{{@group}} <FlightIcon @name="external-link" /></LinkTo>
    {{else if @job}}
    job <LinkTo @route="jobs.job" @model={{concat @job "@" @namespace}}>{{@job}} <FlightIcon @name="external-link" /></LinkTo>
    {{else}}
    all nomad jobs in this namespace
    {{/if}}
</span>
</p>
