<section class="section access-control-overview">
  <section class="intro">
    <p>Your Nomad cluster has Access Control enabled, which you can use to control access to data and APIs. Here, you can manage the Tokens, Policies, and Roles for your system.</p>
    <footer>
      <Hds::Link::Standalone @icon="docs-link" @text="ACL System Fundamentals" @iconPosition="trailing" @href="https://developer.hashicorp.com/nomad/tutorials/access-control/access-control" />
      <Hds::Link::Standalone @icon="docs-link" @text="ACL Policy Concepts" @iconPosition="trailing" @href="https://developer.hashicorp.com/nomad/tutorials/access-control/access-control-policies" />
    </footer>
  </section>
  <div class="section-cards">
    <Hds::Card::Container @level="mid" @hasBorder={{true}}>
      <LinkTo
        @route="access-control.tokens"
      >
        <h2 class="title">{{this.model.tokens.length}} {{pluralize "Token" this.model.tokens.length}}</h2>
        <p>User access tokens are associated with one or more policies or roles to grant specific capabilities.</p>
      </LinkTo>
    </Hds::Card::Container>
    <Hds::Card::Container @level="mid" @hasBorder={{true}}>
      <LinkTo
        @route="access-control.roles"
      >
        <h2 class="title">{{this.model.roles.length}} {{pluralize "Role" this.model.roles.length}}</h2>
        <p>Roles group one or more Policies into higher-level sets of permissions.</p>
      </LinkTo>
    </Hds::Card::Container>
    <Hds::Card::Container @level="mid" @hasBorder={{true}}>
      <LinkTo
        @route="access-control.policies"
      >
        <h2 class="title">{{this.model.policies.length}} {{pluralize "Policy" this.model.policies.length}}</h2>
        <p>Sets of rules defining the capabilities granted to adhering tokens.</p>
      </LinkTo>
    </Hds::Card::Container>
  </div>
</section>
{{outlet}}