{{title "CSI Plugin " plugin.plainId}}
<section class="section with-headspace">
  <h1 class="title" data-test-title>{{plugin.plainId}}</h1>

  <div class="boxed-section is-small">
    <div class="boxed-section-body inline-definitions">
      <span class="label">Plugin Details</span>
      <span class="pair" data-test-plugin-controller-health>
        <span class="term">Controller Health</span>
        {{format-percentage plugin.controllersHealthy total=plugin.controllersExpected}}
        ({{plugin.controllersHealthy}}/{{plugin.controllersExpected}})
      </span>
      <span class="pair" data-test-plugin-node-health>
        <span class="term">Node Health</span>
        {{format-percentage plugin.nodesHealthy total=plugin.nodesExpected}}
        ({{plugin.nodesHealthy}}/{{plugin.nodesExpected}})
      </span>
      <span class="pair" data-test-plugin-provider>
        <span class="term">Provider</span>
        {{plugin.provider}}
      </span>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="boxed-section">
        <div class="boxed-section-head is-hollow">Controller Health</div>
        <div class="boxed-section-body">
          <div class="columns is-bottom-aligned">
            <div class="column is-half">
              {{gauge-chart
                label="Availability"
                value=plugin.controllersHealthy
                total=plugin.controllersExpected}}
            </div>
            <div class="column">
              <div class="metric">
                <h3 class="label">Available</h3>
                <p class="value">{{plugin.controllersHealthy}}</p>
              </div>
            </div>
            <div class="column">
              <div class="metric">
                <h3 class="label">Expected</h3>
                <p class="value">{{plugin.controllersExpected}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="boxed-section">
        <div class="boxed-section-head is-hollow">Node Health</div>
        <div class="boxed-section-body">
          <div class="columns is-bottom-aligned">
            <div class="column is-half">
              {{gauge-chart
                label="Availability"
                value=plugin.nodesHealthy
                total=plugin.nodesExpected}}
            </div>
            <div class="column">
              <div class="metric">
                <h3 class="label">Available</h3>
                <p class="value">{{plugin.nodesHealthy}}</p>
              </div>
            </div>
            <div class="column">
              <div class="metric">
                <h3 class="label">Expected</h3>
                <p class="value">{{plugin.nodesExpected}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="boxed-section">
    <div class="boxed-section-head">
      Controller Allocations
    </div>
    <div class="boxed-section-body {{if plugin.controllers "is-full-bleed"}}">
      {{#if plugin.controllers}}
        {{#list-table
          source=(take 10 sortedControllers)
          class="with-foot" as |t|}}
          {{#t.head}}
            <th class="is-narrow"></th>
            <td>ID</td>
            <th>Created</th>
            <th>Modified</th>
            <th>Health</th>
            <th>Client</th>
            <th>Job</th>
            <th>Version</th>
            <th>Volumes</th>
            <th>CPU</th>
            <th>Memory</th>
          {{/t.head}}
          {{#t.body key="model.allocID" as |row|}}
            {{plugin-allocation-row
              data-test-controller-allocation=row.model.allocID
              pluginAllocation=row.model}}
          {{/t.body}}
        {{/list-table}}
      {{else}}
        <div class="empty-message" data-test-empty-controller-allocations>
          <h3 class="empty-message-headline" data-test-empty-controller-allocations-headline>No Controller Plugin Allocations</h3>
          <p class="empty-message-body" data-test-empty-controller-allocations-message>No allocations are providing controller plugin service.</p>
        </div>
      {{/if}}
    </div>
    {{#if plugin.controllers}}
      <div class="boxed-section-foot">
        <p class="pull-right" data-test-go-to-controller-job>
          {{#link-to "jobs.job"
            controllerAllocation.job.plainId
            (query-params jobNamespace=controllerAllocation.job.namespace.id)}}
            View Controller Job
          {{/link-to}}
        </p>
      </div>
    {{/if}}
  </div>

  <div class="boxed-section">
    <div class="boxed-section-head">
      Node Allocations
    </div>
    <div class="boxed-section-body {{if plugin.nodes "is-full-bleed"}}">
      {{#if plugin.nodes}}
        {{#list-table
          source=(take 10 sortedNodes)
          class="with-foot" as |t|}}
          {{#t.head}}
            <th class="is-narrow"></th>
            <td>ID</td>
            <th>Created</th>
            <th>Modified</th>
            <th>Health</th>
            <th>Client</th>
            <th>Job</th>
            <th>Version</th>
            <th>Volumes</th>
            <th>CPU</th>
            <th>Memory</th>
          {{/t.head}}
          {{#t.body key="model.allocID" as |row|}}
            {{plugin-allocation-row
              data-test-node-allocation=row.model.allocID
              pluginAllocation=row.model}}
          {{/t.body}}
        {{/list-table}}
      {{else}}
        <div class="empty-message" data-test-empty-node-allocations>
          <h3 class="empty-message-headline" data-test-empty-node-allocations-headline>No Node Plugin Allocations</h3>
          <p class="empty-message-body" data-test-empty-node-allocations-message>No allocations are providing node plugin service.</p>
        </div>
      {{/if}}
    </div>
    {{#if plugin.controllers}}
      <div class="boxed-section-foot">
        <p class="pull-right" data-test-go-to-controller-job>
          {{#link-to "jobs.job"
          nodeAllocation.job.plainId
          (query-params jobNamespace=nodeAllocation.job.namespace.id)}}
            View Node Job
          {{/link-to}}
        </p>
      </div>
    {{/if}}
  </div>
</section>
