{{page-title "Edit Secure Variable"}}

<h1 class="title">
  <LinkTo class="back-link" @route="variables.variable.index">
    <FlightIcon
      @name="chevron-left"
      @title="Back to {{this.model.path}}"
      @size="24"
      />
  </LinkTo>
  Edit
  {{this.model.path}}
</h1>

<SecureVariableForm @model={{this.model}} @existingVariables={{this.existingVariables}} />
