{{partial "allocations/allocation/task/subnav"}}
<section class="section full-width-section">
  <table class='fs-explorer table is-compact'>
    <thead>
      <tr>
        <td colspan="3">
          <nav class='breadcrumb fs' data-test-fs-breadcrumbs>
            <ul>
              {{#each pathComponents as |pathComponent|}}
                <li class={{if pathComponent.isLast 'is-active'}}>
                  {{#link-to "allocations.allocation.task.fs.path" model.allocation model pathComponent.path activeClass="is-active"}}
                    {{pathComponent.name}}
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </nav>
        </td>
      </tr>
    </thead>
  {{#if isFile}}
    <tbody>
      <tr>
        <td>
          <div data-test-file-viewer>placeholder file viewer</div>
        </td>
      </tr>
    </tbody>
  {{else}}
    <thead>
      <tr>
        <th class='is-three-quarters'>Name</th>
        <th class='is-right-aligned'>File Size</th>
        <th class='is-right-aligned'>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {{#each directories as |entry|}}
        <tr data-test-entry>
          <td>
            {{#link-to "allocations.allocation.task.fs.path" model.allocation model (concat path "/" entry.Name) activeClass="is-active"}}
              <span data-test-directory-icon>{{inline-svg 'folder-outline' class='icon'}}</span>
              <span class='name' data-test-name>{{entry.Name}}</span>
            {{/link-to}}
          </td>
          <td class='is-right-aligned' data-test-size></td>
          <td class='is-right-aligned' title={{entry.ModTime}} data-test-last-modified>{{moment-from entry.ModTime interval=1000}}</td>
        </tr>
      {{/each}}
      {{#each files as |entry|}}
        <tr data-test-entry>
          <td>
            {{#link-to "allocations.allocation.task.fs.path" model.allocation model (concat path "/" entry.Name) activeClass="is-active"}}
              <span data-test-file-icon>{{inline-svg 'file-outline' class='icon'}}</span>
              <span class='name' data-test-name>{{entry.Name}}</span>
            {{/link-to}}
          </td>
          <td class='is-right-aligned' data-test-size>{{format-bytes entry.Size}}</td>
          <td class='is-right-aligned' title={{entry.ModTime}} data-test-last-modified>{{moment-from entry.ModTime interval=1000}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/if}}
  </table>
</section>