{{partial "allocations/allocation/task/subnav"}}
<section class="section full-width-section">
  <h1 class="title">Path fs route <code>{{path}}</code></h1>

  <ul>
    {{#each ls as |entry|}}
      <li data-test-entry>
        {{#if entry.IsDir}}
          <span data-test-directory-icon>{{inline-svg 'folder-outline' class='icon'}}</span>
        {{else}}
          <span data-test-file-icon>{{inline-svg 'file-outline' class='icon'}}</span>
        {{/if}}

        <span data-test-name>{{entry.Name}}</span>
      </li>
    {{/each}}
  </ul>
</section>