{{partial "allocations/allocation/task/subnav"}}
<section class="section full-width-section">
  <h1 class="title">Path fs route <code>{{path}}</code></h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Mode</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {{#each directories as |entry|}}
        <tr data-test-entry>
          <td>
            <span data-test-directory-icon>{{inline-svg 'folder-outline' class='icon'}}</span>
            <span data-test-name>{{entry.Name}}</span>
          </td>
          <td data-test-size></td>
          <td data-test-file-mode>{{entry.FileMode}}</td>
          <td data-test-last-modified>{{moment-from-now entry.ModTime}}</td>
        </tr>
      {{/each}}
      {{#each files as |entry|}}
        <tr data-test-entry>
          <td>
            <span class='icon' data-test-file-icon></span>
            <span data-test-name>{{entry.Name}}</span>
          </td>
          <td data-test-size>{{format-bytes entry.Size}}</td>
          <td data-test-file-mode>{{entry.FileMode}}</td>
          <td data-test-last-modified>{{moment-from-now entry.ModTime}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>