<JobPage::Parts::Body @job={{this.job}}>
  <JobPage::Parts::Error @errorMessage={{this.errorMessage}} @onDismiss={{action "clearErrorMessage"}} />

  <JobPage::Parts::Title @job={{this.job}} @title={{this.job.trimmedName}} @handleError={{action "handleError"}} />

  <div class="boxed-section job-stats">
    <div class="boxed-section-body">
      <span data-test-job-stat="type"><strong>Type:</strong> {{this.job.type}} | </span>
      <span data-test-job-stat="priority"><strong>Priority:</strong> {{this.job.priority}} |</span>
      <span data-test-job-stat="parent">
        <strong>Parent:</strong>
        <LinkTo @route="jobs.job" @model={{this.job.parent}} @query={{hash jobNamespace=this.job.parent.namespace.name}}>
          {{this.job.parent.name}}
        </LinkTo>
      </span>
      {{#if (and this.job.namespace this.system.shouldShowNamespaces)}}
        <span data-test-job-stat="namespace"> | <strong>Namespace:</strong> {{this.job.namespace.name}}</span>
      {{/if}}
    </div>
  </div>

  <JobPage::Parts::Summary @job={{this.job}} />

  <JobPage::Parts::PlacementFailures @job={{this.job}} />

  <JobPage::Parts::TaskGroups
    @job={{this.job}}
    @sortProperty={{this.sortProperty}}
    @sortDescending={{this.sortDescending}}
    @gotoTaskGroup={{this.gotoTaskGroup}} />

  <JobPage::Parts::RecentAllocations @job={{this.job}} />

  <div class="boxed-section">
    <div class="boxed-section-head">
      Meta
    </div>
    {{#if this.job.definition.Meta}}
      <div class="boxed-section-body is-full-bleed">
        <AttributesTable
          data-test-meta
          @attributePairs={{this.job.definition.Meta}}
          @class="attributes-table" />
      </div>
    {{else}}
      <div class="boxed-section-body">
        <div data-test-empty-meta-message class="empty-message">
          <h3 class="empty-message-headline">No Meta Attributes</h3>
          <p class="empty-message-body">This job is configured with no meta attributes.</p>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="boxed-section">
    <div class="boxed-section-head">Payload</div>
    <div class="boxed-section-body is-dark">
      {{#if this.payloadJSON}}
        <JsonViewer @json={{this.payloadJSON}} />
      {{else}}
        <pre class="cli-window is-elastic"><code>{{this.payload}}</code></pre>
      {{/if}}
    </div>
  </div>
</JobPage::Parts::Body>
