{{#global-header class="page-header"}}
  {{#each breadcrumbs as |breadcrumb index|}}
    <li class="{{if (eq (inc index) breadcrumbs.length) "is-active"}}">
      {{#link-to data-test-breadcrumb=breadcrumb.label params=breadcrumb.args}}{{breadcrumb.label}}{{/link-to}}
    </li>
  {{/each}}
{{/global-header}}
{{#job-page/parts/body job=job onNamespaceChange=onNamespaceChange}}
  {{#if errorMessage}}
    <div class="notification is-danger">
      <div class="columns">
        <div class="column">
          <h3 data-test-force-error-title class="title is-4">Could Not Force Launch</h3>
          <p data-test-force-error-body>Your ACL token does not grant permission to submit jobs.</p>
        </div>
        <div class="column is-centered is-minimum">
          <button data-test-force-error-close class="button is-danger" {{action "clearErrorMessage"}}>Okay</button>
        </div>
      </div>
    </div>
  {{/if}}
  <h1 class="title">
    {{job.name}}
    <span class="bumper-left tag {{job.statusClass}}" data-test-job-status>{{job.status}}</span>
    <span class="tag is-hollow">periodic</span>
    <button data-test-force-launch class="button is-warning is-small is-inline" onclick={{action "forceLaunch"}}>Force Launch</button>
  </h1>

  <div class="boxed-section job-stats">
    <div class="boxed-section-body">
      <span data-test-job-stat="version"><strong>Version:</strong> {{job.version}} | </span>
      <span data-test-job-stat="priority"><strong>Priority:</strong> {{job.priority}} </span>
      {{#if (and job.namespace system.shouldShowNamespaces)}}
        <span data-test-job-stat="namespace"> | <strong>Namespace:</strong> {{job.namespace.name}}</span>
      {{/if}}
      <span data-test-job-stat="cron"> | <strong>Cron:</strong> <code>{{job.periodicDetails.Spec}}</code></span>
    </div>
  </div>

  {{job-page/parts/summary job=job}}
  {{job-page/parts/children
    job=job
    sortProperty=sortProperty
    sortDescending=sortDescending
    currentPage=currentPage
    gotoJob=gotoJob}}
{{/job-page/parts/body}}
