{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<JobPage @job={{@job}} as |jobPage|>
  <jobPage.ui.Body>
    <jobPage.ui.Error />
    <jobPage.ui.Title @title={{@job.trimmedName}} />
    <jobPage.ui.StatsBox>
      <:before-namespace>
        <span class="pair" data-test-job-stat="parent">
          <span class="term">
            Parent
          </span>
          <LinkTo
            @route="jobs.job"
            @model={{@job.parent}}
          >
            {{@job.parent.name}}
          </LinkTo>
        </span>
      </:before-namespace>
    </jobPage.ui.StatsBox>
    <jobPage.ui.StatusPanel @statusMode={{@statusMode}} @setStatusMode={{@setStatusMode}} />
    <jobPage.ui.PlacementFailures />
    <jobPage.ui.TaskGroups @sortProperty={{@sortProperty}} @sortDescending={{@sortDescending}} />
    <jobPage.ui.RecentAllocations @activeTask={{@activeTask}} @setActiveTaskQueryParam={{@setActiveTaskQueryParam}} />
    <jobPage.ui.Meta />
  </jobPage.ui.Body>
</JobPage>