{{#job-page/parts/body job=job}}
  {{job-page/parts/error errorMessage=errorMessage onDismiss=(action "clearErrorMessage")}}

  {{job-page/parts/title job=job handleError=(action "handleError")}}

  <div class="boxed-section job-stats">
    <div class="boxed-section-body">
      <span data-test-job-stat="type"><strong>Type:</strong> {{job.type}} | </span>
      <span data-test-job-stat="priority"><strong>Priority:</strong> {{job.priority}} </span>
      {{#if (and job.namespace system.shouldShowNamespaces)}}
        <span data-test-job-stat="namespace"> | <strong>Namespace:</strong> {{job.namespace.name}}</span>
      {{/if}}
    </div>
  </div>

  {{job-page/parts/summary job=job}}

  {{job-page/parts/placement-failures job=job}}

  {{job-page/parts/latest-deployment job=job handleError=(action "handleError")}}

  {{job-page/parts/task-groups
    job=job
    sortProperty=sortProperty
    sortDescending=sortDescending
    gotoTaskGroup=gotoTaskGroup}}

  {{job-page/parts/recent-allocations job=job}}
{{/job-page/parts/body}}
