{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<ListAccordion
  data-test-job-summary
  @source={{array this.job}}
  @key="id"
  @startExpanded={{this.isExpanded}}
  @onToggle={{action this.persist}} as |a|
>
  <a.head
    @buttonLabel={{if a.isOpen "collapse" "expand"}}
    @buttonType={{if a.item.hasChildren "children-status" "allocation-status"}}
  >
    <div class="columns">
      <div class="column is-minimum nowrap">
        {{#if a.item.hasChildren}}
          Children Status
          <span class="badge {{if a.isOpen "is-white" "is-light"}}">
            {{a.item.summary.totalChildren}}
          </span>
        {{else}}
          Allocation Status
          <span class="badge {{if a.isOpen "is-white" "is-light"}}">
            {{a.item.summary.totalAllocs}}
          </span>
        {{/if}}
      </div>
      {{#unless a.isOpen}}
        <div class="column">
          <div class="inline-chart bumper-left">
            {{#if a.item.hasChildren}}
              {{#if (gt a.item.totalChildren 0)}}
                <ChildrenStatusBar @job={{a.item}} @isNarrow={{true}} />
              {{else}}
                <em class="is-faded">
                  No Children
                </em>
              {{/if}}
            {{else}}
              <AllocationStatusBar
                @allocationContainer={{a.item}}
                @isNarrow={{true}}
              />
            {{/if}}
          </div>
        </div>
      {{/unless}}
    </div>
  </a.head>
  <a.body>
    <JobPage::Parts::SummaryChart @job={{a.item}} />
  </a.body>
</ListAccordion>