<div class="boxed-section topo-viz-datacenter" {{did-insert this.loadAllocations}}>
  <div class="boxed-section-head is-hollow">
    {{@datacenter}}
    {{this.scheduledAllocations.length}} Allocs,
    {{@nodes.length}} Nodes,
    {{this.aggregatedAllocationResources.memory}}/{{this.aggregatedNodeResources.memory}} MiB,
    {{this.aggregatedAllocationResources.cpu}}/{{this.aggregatedNodeResources.cpu}} Mhz
  </div>
  <div class="boxed-section-body">
    {{#if this.isLoaded}}
      {{#each @nodes as |node|}}
        <TopoViz::Node
          @node={{node}}
          @heightScale={{@heightScale}}
          @onAllocationSelect={{@onAllocationSelect}}
          @activeTaskGroup={{@activeTaskGroup}}
          @activeJobId={{@activeJobId}} />
      {{/each}}
    {{/if}}
  </div>
</div>
