<div class="dropdown" ...attributes>
  <PowerSelect
    @options={{@options}}
    @selected={{this.activeOption}}
    @onChange={{action this.setSelection}}
    @dropdownClass="dropdown-options"
    as |option|>
    <span class="ember-power-select-prefix">{{@label}}: </span><span class="dropdown-label">{{option.label}}</span>
  </PowerSelect>
</div>
