---
layout: "downloads"
page_title: "Download Nomad"
sidebar_current: "downloads-nomad"
description: |-
  Download Nomad
---

<h1>Download Nomad</h1>

<section class="downloads">
  <div class="description row">
    <div class="col-md-12">
      <p>
        Below are the available downloads for the latest version of Nomad
        (<%= latest_version %>). Please download the proper package for your
        operating system and architecture.
      </p>
      <p>
        You can find the
        <a href="https://releases.hashicorp.com/nomad/<%= latest_version %>/nomad_<%= latest_version %>_SHA256SUMS">
          SHA256 checksums for Nomad <%= latest_version %>
        </a>
        online and you can
        <a href="https://releases.hashicorp.com/nomad/<%= latest_version %>/nomad_<%= latest_version %>_SHA256SUMS.sig">
          verify the checksums signature file
        </a>
        which has been signed using <a href="https://www.hashicorp.com/security.html" target="_blank" rel="nofollow noopener noreferrer">HashiCorp's GPG key</a>.
        You can also <a href="https://releases.hashicorp.com/nomad/" target="_blank" rel="nofollow noopener noreferrer">download older versions of Nomad</a> from the releases service.
      </p>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12 download">
        <div class="icon pull-left"><img src="/assets/images/icons/icon_darwin.png" /></div>
        <div class="details">
          <h2 class="os-name">Mac OS X</h2>
          <ul>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_darwin_amd64.zip">64-bit</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 download">
        <div class="icon pull-left"><img src="/assets/images/icons/icon_linux.png" /></div>
        <div class="details">
          <h2 class="os-name">Linux</h2>
          <ul>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_linux_386.zip">32-bit</a></li>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_linux_amd64.zip">64-bit</a></li>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_linux_arm.zip">Arm</a></li>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_linux_arm5.zip">Arm5</a></li>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_linux_arm6.zip">Arm6</a></li>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_linux_arm7.zip">Arm7</a></li>
          </ul>
	  <ul>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_linux_amd64_lxc.zip">64-bit with LXC</a> (requires liblxc installed)</li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 download">
        <div class="icon pull-left"><img src="/assets/images/icons/icon_windows.png" /></div>
        <div class="details">
          <h2 class="os-name">Windows</h2>
          <ul>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_windows_386.zip">32-bit</a></li>
              <li><a href="https://releases.hashicorp.com/nomad/0.5.0/nomad_0.5.0_windows_amd64.zip">64-bit</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12 poweredby">
      <a href="https://www.fastly.com?utm_source=hashicorp" target="_blank" rel="nofollow noopener noreferrer">
        <%= image_tag "fastly_logo.png" %>
      </a>
    </div>
  </div>
</section>
