{{page-title "New Secure Variable"}}
<Breadcrumb @crumb={{hash label="New" args=(array "variables.new")}} />
<section class="section">
  <SecureVariableForm
    @model={{this.model}}
    @path={{this.path}}
    @existingVariables={{this.existingVariables}}
  />
</section>
