{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div data-test-primary-metric class="primary-metric" ...attributes
  {{did-insert this.start}}
  {{did-update this.start}}>
  <h4 data-test-primary-metric-title class="title is-5">
    {{#if (eq this.metric "cpu")}} CPU
    {{else if (eq this.metric "memory")}} Memory
    {{else}} {{this.metric}} {{/if}}
  </h4>
  <div class="primary-graphic">
    <StatsTimeSeries @data={{this.data}} @chartClass={{this.chartClass}}>
      <:after as |c|>
        {{#if this.reservedAnnotations}}
          <c.HAnnotations @annotations={{this.reservedAnnotations}} @labelProp="label" />
        {{/if}}
      </:after>
    </StatsTimeSeries>
  </div>
  <PrimaryMetric::CurrentValue @chartClass={{this.chartClass}} @percent={{this.data.lastObject.percent}} />
  <div class="annotation" data-test-absolute-value>
    {{#if (eq this.metric "cpu")}}
      <strong>{{format-scheduled-hertz this.data.lastObject.used}}</strong> / {{format-scheduled-hertz this.reservedAmount}} Total
    {{else if (eq this.metric "memory")}}
      <strong>{{format-scheduled-bytes this.data.lastObject.used}}</strong> / {{format-scheduled-bytes this.reservedAmount start="MiB"}} Total
    {{else}}
      <strong>{{this.data.lastObject.used}}</strong> / {{this.reservedAmount}} Total
    {{/if}}
  </div>
</div>
