{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<section class="section">
  <div class="toolbar">
    <p class="toolbar-item">
      ACL Roles group one or more Policies into higher-level sets of permissions. A user token can have any number of roles or policies.
    </p>
    <div class="toolbar-item is-right-aligned is-mobile-full-width">
      <div class="button-bar">
      {{#if (can "write role")}}
        <LinkTo
          @route="access-control.roles.new"
          class="button is-primary"
          data-test-create-role
          {{keyboard-shortcut
            pattern=(array "n" "r")
            action=(action this.goToNewRole)
            label="Create Role"
          }}
        >
          Create Role
        </LinkTo>
      {{else}}
        <button
          class="button is-primary is-disabled tooltip is-right-aligned"
          aria-label="You don’t have sufficient permissions"
          disabled
          type="button"
          data-test-disabled-create-role
        >
          Create Role
        </button>
      {{/if}}

      </div>
    </div>
  </div>
  {{#if this.roles.length}}
    <ListTable
      @source={{this.roles}}
      @class="roles no-mobile-condense" as |t|>
      <t.head>
        <th>Role Name</th>
        {{#if (can "list token")}}
          <th>Tokens</th>
        {{/if}}
      </t.head>
      <t.body as |row|>
        <tr data-test-role-row {{on "click" (action "openRole" row.model)}}
        {{keyboard-shortcut 
          enumerated=true
          action=(action "openRole" row.model)
        }}>
          <td data-test-role-name>
						<LinkTo @route="access-control.roles.role" @model={{row.model}}>{{row.model.name}}</LinkTo>
					</td>
          {{#if (can "list token")}}
            <td data-test-role-token-count>
              <span>
                <span data-test-role-total-tokens>{{row.model.tokens.length}}</span>
                {{#if (filter-by "isExpired" row.model.tokens)}}
                  <span data-test-role-expired-tokens class="number-expired">({{get (filter-by "isExpired" row.model.tokens) "length"}} expired)</span>
                {{/if}}
              </span>
            </td>
          {{/if}}
        </tr>
      </t.body>
    </ListTable>
  {{else}}
    <div class="empty-message">
      <h3 data-test-empty-role-list-headline class="empty-message-headline">
        No Roles
      </h3>
      <p class="empty-message-body">
        Get started by <LinkTo @route="access-control.roles.new">creating a new role</LinkTo>
      </p>
    </div>
  {{/if}}
</section>
