{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<section class="section">
  <div class="toolbar">
    <p class="toolbar-item">
      ACL Roles group one or more Policies into higher-level sets of permissions. A user token can have any number of roles or policies.
    </p>
    <div class="toolbar-item is-right-aligned is-mobile-full-width">
      {{#if (can "write role")}}
        <Hds::Button
          @text="Create Role"
          @icon="plus"
          @route="access-control.roles.new"
          @iconPosition="trailing"
          {{keyboard-shortcut
            pattern=(array "n" "r")
            action=(action this.goToNewRole)
            label="Create Role"
          }}
          data-test-create-role
        />
      {{else}}
        <Hds::Button
          @text="Create Role"
          @icon="plus"
          @iconPosition="trailing"
          disabled
          data-test-disabled-create-role
        />
      {{/if}}

    </div>
  </div>
  {{#if this.roles.length}}
    <Hds::Table @caption="A list of tokens for this cluster" class="acl-table"
      @model={{this.roles}}
      @columns={{array
        (hash key="name" label="Name" isSortable=true)
        (hash key="description" label="Description")
        (hash key="tokens.length" label="Tokens" isSortable=true)
        (hash key="policies" label="Policies")
        (hash key="delete" label="Delete")
      }}
      @sortBy="name"
    >
      <:body as |B|>
        <B.Tr 
          {{keyboard-shortcut 
            enumerated=true
            action=(action "openRole" B.data)
          }}
        >
          <B.Td>
            <LinkTo @route="access-control.roles.role" @model={{B.data.id}}>{{B.data.name}}</LinkTo></B.Td>
          <B.Td>{{B.data.description}}</B.Td>
          <B.Td>
            <span data-test-role-total-tokens>{{B.data.tokens.length}}</span>
            {{#if (filter-by "isExpired" B.data.tokens)}}
              <span data-test-role-expired-tokens class="number-expired">({{get (filter-by "isExpired" B.data.tokens) "length"}} expired)</span>
            {{/if}}
          </B.Td>
          <B.Td>
            <div class="tag-group">
              {{#each B.data.policies as |policy|}}
                {{#if policy.name}}
                  <Hds::Tag @color="primary" @text="{{policy.name}}" @route="access-control.policies.policy" @model="{{policy.name}}" />
                {{/if}}
              {{else}}
                No Roles
              {{/each}}
            </div>
          </B.Td>
          {{#if (can "destroy role")}}
          {{!-- TODO: --}}
          {{!-- ALSO TODO: make column conditional for this and list-tokens! --}}
            <B.Td>
              <Hds::Button @text="Delete" @size="small" @color="critical"
                {{on "click" (perform this.deleteRole B.data)}}
              />
            </B.Td>
          {{/if}}
        </B.Tr>
      </:body>
    </Hds::Table>

  {{else}}
    <div class="empty-message">
      <h3 data-test-empty-role-list-headline class="empty-message-headline">
        No Roles
      </h3>
      <p class="empty-message-body">
        Get started by <LinkTo @route="access-control.roles.new">creating a new role</LinkTo>
      </p>
    </div>
  {{/if}}
</section>
