{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if this.allocation.isRunning}}
  {{#if (and (not this.stat) this.isLoading)}}
    &hellip;
  {{else if this.error}}
    <span class="tooltip is-small text-center" role="tooltip" aria-label="Couldn't collect stats">
      {{x-icon "alert-triangle" class="is-warning"}}
    </span>
  {{else}}
    <div class="inline-chart tooltip" role="tooltip" aria-label="{{this.formattedStat}} / {{this.formattedReserved}}">
      <progress
        class="progress is-small {{this.statClass}}"
        value="{{this.stat.percent}}"
        max="1">
        {{this.stat.percent}}
      </progress>
    </div>
  {{/if}}
{{/if}}
