<div class="boxed-section-head">
  <span>
    <button class="button {{if (eq mode "stdout") "is-info"}}" {{action "setMode" "stdout"}}>stdout</button>
    <button class="button {{if (eq mode "stderr") "is-danger"}}" {{action "setMode" "stderr"}}>stderr</button>
  </span>
  <span class="pull-right">
    <button class="button is-white" onclick={{perform head}}>Head</button>
    <button class="button is-white" onclick={{perform tail}}>Tail</button>
    <button class="button is-white" onclick={{action "toggleStream"}}>
      {{x-icon (if logger.isStreaming "media-pause" "media-play") class="is-text"}}
    </button>
  </span>
</div>
<div class="boxed-section-body is-dark is-full-bleed">
  <pre class="cli-window"><code>{{logger.output}}</code></pre>
</div>
