<td data-test-indicators class="is-narrow">
  {{#if allocation.unhealthyDrivers.length}}
    <span data-test-icon="unhealthy-driver" class="tooltip text-center" role="tooltip" aria-label="Allocation depends on unhealthy drivers">
      {{x-icon "warning" class="is-warning"}}
    </span>
  {{/if}}
  {{#if allocation.nextAllocation}}
    <span data-test-icon="reschedule" class="tooltip text-center" role="tooltip" aria-label="Allocation was rescheduled">
      {{x-icon "history" class="is-faded"}}
    </span>
  {{/if}}
</td>
<td data-test-short-id>
  {{#link-to "allocations.allocation" allocation class="is-primary"}}
    {{allocation.shortId}}
  {{/link-to}}
</td>
{{#if (eq context "job")}}
  <td data-test-task-group>
    {{#link-to "jobs.job.task-group" allocation.job allocation.taskGroupName (query-params jobNamespace=allocation.job.namespace.id)}}
      {{allocation.taskGroupName}}
    {{/link-to}}
  </td>
{{/if}}
<td data-test-create-time>{{format-month-ts allocation.createTime}}</td>
<td data-test-modify-time>
  <span class="tooltip" aria-label="{{format-month-ts allocation.modifyTime}}">
    {{moment-from-now allocation.modifyTime}}
  </span>
</td>
<td data-test-client-status class="is-one-line">
  <span class="color-swatch {{allocation.clientStatus}}" /> {{allocation.clientStatus}}
</td>
{{#if (or (eq context "taskGroup") (eq context "job"))}}
  <td data-test-job-version>{{allocation.jobVersion}}</td>
  <td data-test-client>{{#link-to "clients.client" allocation.node}}{{allocation.node.shortId}}{{/link-to}}</td>
{{else if (eq context "node")}}
  <td>
    {{#if (or allocation.job.isPending allocation.job.isReloading)}}
      ...
    {{else}}
      {{#link-to "jobs.job" allocation.job (query-params jobNamespace=allocation.job.namespace.id) data-test-job}}{{allocation.job.name}}{{/link-to}}
      <span class="is-faded" data-test-task-group>/ {{allocation.taskGroup.name}}</span>
    {{/if}}
  </td>
  <td data-test-job-version class="is-1">{{allocation.jobVersion}}</td>
{{/if}}
<td data-test-cpu class="is-1 has-text-centered">
  {{#if allocation.isRunning}}
    {{#if (and (not cpu) fetchStats.isRunning)}}
      ...
    {{else if statsError}}
      <span class="tooltip text-center" role="tooltip" aria-label="Couldn't collect stats">
        {{x-icon "warning" class="is-warning"}}
      </span>
    {{else}}
      <div class="inline-chart is-small tooltip" role="tooltip" aria-label="{{cpu.used}} / {{stats.reservedCPU}} MHz">
        <progress
          class="progress is-info is-small"
          value="{{cpu.percent}}"
          max="1">
          {{cpu.percent}}
        </progress>
      </div>
    {{/if}}
  {{/if}}
</td>
<td data-test-mem class="is-1 has-text-centered">
  {{#if allocation.isRunning}}
    {{#if (and (not memory) fetchStats.isRunning)}}
      ...
    {{else if statsError}}
      <span class="tooltip is-small text-center" role="tooltip" aria-label="Couldn't collect stats">
        {{x-icon "warning" class="is-warning"}}
      </span>
    {{else}}
      <div class="inline-chart tooltip" role="tooltip" aria-label="{{format-bytes memory.used}} / {{stats.reservedMemory}} MiB">
        <progress
          class="progress is-danger is-small"
          value="{{memory.percent}}"
          max="1">
          {{memory.percent}}
        </progress>
      </div>
    {{/if}}
  {{/if}}
</td>
