<td>
  <a href="{{href-to "allocations.allocation" allocation}}" class="is-primary">
    {{allocation.shortId}}
  </a>
</td>
<td>{{allocation.name}}</td>
<td>
  <span class="color-swatch {{allocation.clientStatus}}" /> {{allocation.clientStatus}}
</td>
{{#if (eq context "job")}}
  <td><a href="{{href-to "nodes.node" allocation.node}}">{{allocation.node.shortId}}</a></td>
{{else if (eq context "node")}}
  <td>
    <a href="{{href-to "jobs.job" allocation.job}}">{{allocation.job.name}}</a>
    <span class="is-faded">/ {{allocation.taskGroup.name}}</span>
  </td>
{{/if}}
<td>
  {{#if allocation.stats.isPending}}
    ...
  {{else if allocation.stats.isRejected}}
    !!!
  {{else}}
    {{allocation.stats.ResourceUsage.CpuStats.Percent}}
  {{/if}}
</td>
<td>
  {{#if allocation.stats.isPending}}
    ...
  {{else if allocation.stats.isRejected}}
    !!!
  {{else}}
    {{allocation.stats.ResourceUsage.MemoryStats.Cache}}
  {{/if}}
</td>
