<Breadcrumbs as |bb|>
  {{#each bb as |breadcrumb index|}}
    {{#each breadcrumb.args.crumb as |b|}}
      <li class="{{if (eq (inc index) this.b.length) "is-active"}}">
        {{#if b.isPending}}
          <a href="#" aria-label="loading" data-test-breadcrumb="loading">
            …
          </a>
        {{else}}
          <LinkTo @params={{b.args}} data-test-breadcrumb={{b.args.firstObject}}>
            {{b.label}}
          </LinkTo>
        {{/if}}
      </li>
    {{/each}}
  {{/each}}
</Breadcrumbs>