{{#each this.breadcrumbs as |breadcrumb index|}}
  <li class="{{if (eq (inc index) this.breadcrumbs.length) "is-active"}}">
    {{#if breadcrumb.isPending}}
      <a href="#" aria-label="loading" data-test-breadcrumb="loading">&hellip;</a>
    {{else}}
      <LinkTo
        @params={{breadcrumb.args}}
        data-test-breadcrumb={{breadcrumb.args.firstObject}}>
        {{breadcrumb.label}}
      </LinkTo>
    {{/if}}
  </li>
{{/each}}
