{{#each this.breadcrumbs as |breadcrumb index|}}
  <li class="{{if (eq (inc index) this.breadcrumbs.length) "is-active"}}">
    {{#if breadcrumb.isPending}}
      <a href="#" aria-label="loading" data-test-breadcrumb="loading">
        …
      </a>
    {{else}}
      <LinkTo @params={{breadcrumb.args}} data-test-breadcrumb={{breadcrumb.args.firstObject}}>
        {{#if breadcrumb.title}}
          <dl>
            <dd>
              {{breadcrumb.title}}
            </dd>
            <dt>
              {{breadcrumb.label}}
            </dt>
          </dl>
        {{else}}
          {{breadcrumb.label}}
        {{/if}}
      </LinkTo>
    {{/if}}
  </li>
{{/each}}