{{#each-in this.attributes as |key value|}}
  {{#if (is-object value)}}
    <tr data-test-attributes-section>
      <td data-test-heading class="is-subheading" colspan="2">
        {{#if this.prefix}}<span class="is-faded" data-test-prefix>{{this.prefix}}.</span>{{/if}}{{key}}
      </td>
    </tr>
    <AttributesSection @prefix={{if this.prefix (concat this.prefix "." key) key}} @attributes={{value}} />
  {{else}}
    <tr data-test-attributes-section>
      <td data-test-key>
        {{#if this.prefix}}<span class="is-faded" data-test-prefix>{{this.prefix}}.</span>{{/if}}
        {{~key}}
      </td>
      <td data-test-value title="{{value}}">{{value}}</td>
    </tr>
  {{/if}}
{{/each-in}}
