{{#if (eq this.state 'success')}}
  <div class='button is-borderless is-small is-static'>
    <span class="tooltip text-center always-active" role="tooltip" aria-label="Copied!">
      {{x-icon 'copy-success'}}
    </span>
  </div>
{{else if (eq this.state 'error')}}
  <div class='button is-borderless is-small is-static'>
    <span class="tooltip text-center" role="tooltip" aria-label="Error copying">
      {{x-icon 'alert-triangle'}}
    </span>
  </div>
{{else}}
  <AddonCopyButton
    @class="button is-borderless is-small"
    @clipboardText={{this.clipboardText}}
    @success={{perform this.indicateSuccess}}
    @error={{action (mut this.state) "error"}}
    @title="Copy"
  >
    {{x-icon 'copy-action'}}
  </AddonCopyButton>
{{/if}}