{{#if (eq this.state 'success')}}
  <div class='button is-small is-static {{if @compact "is-compact"}} {{unless @border "is-borderless"}}'>
    <span class="tooltip text-center always-active" role="tooltip" aria-label="Copied!">
      {{x-icon 'copy-success'}}
    </span>
    {{yield}}
  </div>
{{else if (eq this.state 'error')}}
  <div class='button is-small is-static {{if @compact "is-compact"}} {{unless @border "is-borderless"}}'>
    <span class="tooltip text-center" role="tooltip" aria-label="Error copying">
      {{x-icon 'alert-triangle'}}
    </span>
    {{yield}}
  </div>
{{else}}
  <AddonCopyButton
    @class="button is-small {{if @compact "is-compact"}} {{unless @border "is-borderless"}}"
    @clipboardText={{this.clipboardText}}
    @success={{perform this.indicateSuccess}}
    @error={{action (mut this.state) "error"}}
    @title="Copy"
  >
    {{x-icon 'copy-action'}}
    {{yield}}
  </AddonCopyButton>
{{/if}}