<ul>
  <li class={{if breadcrumbs "" "is-active"}}>
    <LinkTo @route="allocations.allocation.task.fs-root" @models={{array task.allocation task}} @activeClass="is-active">
      {{task.name}}
    </LinkTo>
  </li>
  {{#each breadcrumbs as |breadcrumb|}}
    <li class={{if breadcrumb.isLast "is-active"}}>
      <LinkTo @route="allocations.allocation.task.fs" @models={{array task.allocation task breadcrumb.path}} @activeClass="is-active">
        {{breadcrumb.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>