<tr data-test-entry>
  <td>
    {{#link-to "allocations.allocation.task.fs" task.allocation task pathToEntry activeClass="is-active"}}
      {{#if entry.IsDir}}
        {{x-icon "folder-outline"}}
      {{else}}
        {{x-icon "file-outline"}}
      {{/if}}

      <span class="name" data-test-name>{{entry.Name}}</span>
    {{/link-to}}
  </td>
  <td class="has-text-right" data-test-size>{{#unless entry.IsDir}}{{format-bytes entry.Size}}{{/unless}}</td>
  <td class="has-text-right" title={{format-ts entry.ModTime}} data-test-last-modified>{{moment-from entry.ModTime interval=1000}}</td>
</tr>
