<div data-test-gutter-menu class="page-column is-left {{if isOpen "is-open"}}">
  <div class="gutter {{if isOpen "is-open"}}">
    <header class="collapsed-menu {{if isOpen "is-open"}}">
      <span data-test-gutter-gutter-toggle class="gutter-toggle" aria-label="menu" onclick={{action onHamburgerClick}}>
        {{partial "partials/hamburger-menu"}}
      </span>
      <span class="logo-container">
        {{partial "partials/nomad-logo"}}
      </span>
    </header>
    <aside class="menu">
      {{#if system.shouldShowRegions}}
        <div class="collapsed-only">
          <p class="menu-label">
            Region
          </p>
          <ul class="menu-list">
            <li>
              <div class="menu-item is-wide">
                {{region-switcher}}
              </div>
            </li>
          </ul>
        </div>
     {{/if}}
      <p class="menu-label">
        Workload
      </p>
      <ul class="menu-list">
        {{#if system.shouldShowNamespaces}}
          <li>
            <div class="menu-item is-wide">
              {{#power-select
                data-test-namespace-switcher
                options=sortedNamespaces
                selected=system.activeNamespace
                searchField="name"
                searchEnabled=(gt sortedNamespaces.length 10)
                onchange=(action gotoJobsForNamespace)
                tagName="div"
                class="namespace-switcher"
                as |namespace|}}
                {{#if (eq namespace.name "default")}}
                  Default Namespace
                {{else}}
                  {{namespace.name}}
                {{/if}}
              {{/power-select}}
            </div>
          </li>
        {{/if}}
        <li>{{#link-to "jobs" activeClass="is-active" data-test-gutter-link="jobs"}}Jobs{{/link-to}}</li>
      </ul>
      <p class="menu-label">
        Cluster
      </p>
      <ul class="menu-list">
        <li>{{#link-to "clients" activeClass="is-active" data-test-gutter-link="clients"}}Clients{{/link-to}}</li>
        <li>{{#link-to "servers" activeClass="is-active" data-test-gutter-link="servers"}}Servers{{/link-to}}</li>
      </ul>
    </aside>
  </div>
</div>
<div data-test-page-content class="page-column is-right">
  {{yield}}
</div>
<div data-test-gutter-backdrop class="gutter-backdrop {{if isOpen "is-open"}}" onclick={{action onHamburgerClick}}></div>
