{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<a data-test-image-link href={{this.src}} target="_blank" rel="noopener noreferrer" class="image-file-image">
  <img data-test-image src={{this.src}} alt={{or this.alt this.fileName}} title={{this.fileName}} onload={{action this.updateImageMeta}} />
</a>
<figcaption class="image-file-caption">
  <span class="image-file-caption-primary">
    <strong data-test-file-name>{{this.fileName}}</strong>
    {{#if (and this.width this.height)}}
      <span data-test-file-stats>({{this.width}}px &times; {{this.height}}px{{#if this.size}}, {{format-bytes this.size}}{{/if}})</span>
    {{/if}}
  </span>
</figcaption>