<div class="boxed-section-head is-light inline-definitions">
  Version #{{this.version.number}}
  <span class="bumper-left pair is-faded">
    <span class="term">Stable</span>
    <span class="badge is-light is-faded" data-test-version-stability><code>{{this.version.stable}}</code></span>
  </span>
  <span class="pair is-faded">
    <span class="term">Submitted</span>
    <span data-test-version-submit-time class="submit-date">{{format-ts this.version.submitTime}}</span>
  </span>
  {{#if this.version.diff}}
    <button class="button is-light is-compact pull-right" {{action "toggleDiff"}} type="button">{{this.changeCount}} {{pluralize "Change" this.changeCount}}</button>
  {{else}}
    <span class="pull-right">No Changes</span>
  {{/if}}
</div>
{{#if this.isOpen}}
  <div class="boxed-section-body is-dark">
    <JobDiff @diff={{this.version.diff}} @verbose={{this.verbose}} />
  </div>
{{/if}}
