<div class="boxed-section-head is-light inline-definitions">
  Version #{{this.version.number}}
  <span class="bumper-left pair is-faded">
    <span class="term">Stable</span>
    <span class="badge is-light is-faded" data-test-version-stability><code>{{this.version.stable}}</code></span>
  </span>
  <span class="pair is-faded">
    <span class="term">Submitted</span>
    <span data-test-version-submit-time class="submit-date">{{format-ts this.version.submitTime}}</span>
  </span>
  <div class="pull-right">
    {{#if (not this.isCurrent)}}
      <button class="button is-warning is-outlined is-compact" {{action (perform this.revertTo)}} data-test-revert-to-button>Revert To</button>&nbsp;
    {{/if}}

    {{#if this.version.diff}}
      <button class="button is-light is-compact" {{action "toggleDiff"}} type="button">{{this.changeCount}} {{pluralize "Change" this.changeCount}}</button>
    {{else}}
      No Changes
    {{/if}}
  </div>
</div>
{{#if this.isOpen}}
  <div class="boxed-section-body is-dark">
    <JobDiff @diff={{this.version.diff}} @verbose={{this.verbose}} />
  </div>
{{/if}}
