{{#each fields as |field|}}
  <div class="{{concat
    "diff-section-label is-"
    (lowercase field.Type)
  }}">
    <span class="marker">
      {{#if (eq (lowercase field.Type) "added")}}
        +
      {{else if (eq (lowercase field.Type) "deleted")}}
        -
      {{else if (eq (lowercase field.Type) "edited")}}
        +/-
      {{/if}}
    </span>
    {{field.Name}}:
    {{#if (eq (lowercase field.Type) "added")}}
      "{{field.New}}"
    {{else if (eq (lowercase field.Type) "deleted")}}
      "{{field.Old}}"
    {{else if (eq (lowercase field.Type) "edited")}}
      "{{field.Old}}" => "{{field.New}}"
    {{else}}
      "{{field.New}}"
    {{/if}}
  </div>
{{/each}}

{{#each objects as |object|}}
  <div class="{{concat
    "diff-section-label is-"
    (lowercase object.Type)
  }}">
    <span class="marker">
      {{#if (eq (lowercase object.Type) "added")}}
        +
      {{else if (eq (lowercase object.Type) "deleted")}}
        -
      {{else if (eq (lowercase object.Type) "edited")}}
        +/-
      {{/if}}
    </span>
    {{object.Name}} {
      {{job-diff-fields-and-objects fields=object.Fields objects=object.Objects}}
    }
  </div>
{{/each}}
