{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if this.version.taggedVersion}}
  <div class="timeline-tag">
    {{!-- <Hds::Badge @text={{this.version.taggedVersion.name}} @color="highlight" /> --}}
    <span class="tag-name">
      {{this.version.taggedVersion.name}}
    </span>
    <span class="tag-description" title={{this.version.taggedVersion.description}}>
        {{this.version.taggedVersion.description}}
    </span>
  </div>
{{/if}}

<div class="boxed-section-head {{if this.version.taggedVersion "tagged"}} is-light inline-definitions">
  Version #{{this.version.number}}
  <span class="bumper-left pair is-faded">
    <span class="term">Stable</span>
    <span class="badge is-light is-faded" data-test-version-stability><code>{{this.version.stable}}</code></span>
  </span>
  <span class="pair is-faded">
    <span class="term">Submitted</span>
    <span data-test-version-submit-time class="submit-date">{{format-ts this.version.submitTime}}</span>
  </span>
  <div class="pull-right">
    {{#unless this.isCurrent}}
      {{#if (can "run job" namespace=this.version.job.namespace)}}
        <TwoStepButton
          data-test-revert-to
          @classes={{hash
            idleButton="is-warning is-outlined"
            confirmButton="is-warning"}}
          @alignRight={{true}}
          @idleText="Revert Version"
          @cancelText="Cancel"
          @confirmText="Yes, Revert Version"
          @confirmationMessage="Are you sure you want to revert to this version?"
          @inlineText={{true}}
          @size="small"
          @fadingBackground={{true}}
          @awaitingConfirmation={{this.revertTo.isRunning}}
          @onConfirm={{perform this.revertTo}} />
      {{else}}
        <Hds::Button
          data-test-revert-to
          class="is-fixed-width"
          disabled
          @size="small"
          @color="secondary"
          @isInline={{true}}
          @text="Revert"
          title="You don’t have permission to revert"
        />
      {{/if}}
    {{/unless}}

    {{#if this.version.diff}}
      {{!-- <button class="button is-light is-small is-fixed-width" {{action "toggleDiff"}} type="button">{{this.changeCount}} {{pluralize "Change" this.changeCount}}</button> --}}
      {{!-- ^--- convert to <Hds::Button></Hds::Button> --}}
      <Hds::Button
        class="is-light is-small is-fixed-width"
        @size="small"
        @text="{{this.changeCount}} {{pluralize "Change" this.changeCount}}"
        @color="secondary"
        {{on "click" (action "toggleDiff")}}
      />
    {{else}}
      <div class="is-fixed-width is-size-7 has-text-centered">No Changes</div>
    {{/if}}
  </div>
</div>
{{#if this.isOpen}}
  <div class="boxed-section-body is-dark">
    <JobDiff @diff={{this.version.diff}} @verbose={{this.verbose}} />
  </div>
{{/if}}
