<td><a href="{{href-to "jobs.job" job.id}}">{{job.name}}</a></td>
<td>
  <span class="tag {{job.statusClass}}">{{job.status}}</span>
</td>
<td>{{job.type}}</td>
<td>{{job.priority}}</td>
<td>{{job.taskGroups.length}}</td>
<td>
  <div class="inline-chart">{{distribution-bar data=allocDistribution isNarrow=true}}</div>
</td>
