<td data-test-job-name><LinkTo @route="jobs.job" @model={{this.job.plainId}} @query={{hash namespace=this.job.namespace.id}} class="is-primary">{{this.job.name}}</LinkTo></td>
{{#if this.system.shouldShowNamespaces}}
  <td data-test-job-namespace>{{this.job.namespace.name}}</td>
{{/if}}
{{#if (eq @context "child")}}
  <td data-test-job-submit-time>{{format-month-ts this.job.submitTime}}</td>
{{/if}}
<td data-test-job-status>
  <span class="tag {{this.job.statusClass}}">{{this.job.status}}</span>
</td>
<td data-test-job-type>{{this.job.displayType}}</td>
<td data-test-job-priority>{{this.job.priority}}</td>
<td data-test-job-task-groups>
  {{#if this.job.taskGroupCount}}
    {{this.job.taskGroupCount}}
  {{else}}
    --
  {{/if}}
</td>
<td data-test-job-allocations>
  <div class="inline-chart">
    {{#if this.job.hasChildren}}
      {{#if (gt this.job.totalChildren 0)}}
        <ChildrenStatusBar @job={{this.job}} @isNarrow={{true}} />
      {{else}}
        <em class="is-faded">No Children</em>
      {{/if}}
    {{else}}
      <AllocationStatusBar @allocationContainer={{this.job}} @isNarrow={{true}} />
    {{/if}}
  </div>
</td>
