<td data-test-job-name>{{#link-to "jobs.job" job class="is-primary"}}{{job.name}}{{/link-to}}</td>
<td data-test-job-status>
  <span class="tag {{job.statusClass}}">{{job.status}}</span>
</td>
<td data-test-job-type>{{job.type}}</td>
<td data-test-job-priority>{{job.priority}}</td>
<td data-test-job-task-groups>
  {{#if job.isReloading}}
    ...
  {{else}}
    {{job.taskGroups.length}}
  {{/if}}
</td>
<td data-test-job-allocations>
  <div class="inline-chart">{{allocation-status-bar allocationContainer=job isNarrow=true}}</div>
</td>
