{{#if this.dispatchError}}
  <div data-test-dispatch-error class="notification is-danger">
    <h3 class="title is-4" data-test-parse-error-title>Dispatch Error</h3>
    <p data-test-dispatch-error-message>{{this.dispatchError}}</p>
  </div>
{{/if}}

<form action="#" onsubmit="return false">
  <h1 class="title">Dispatch an instance of '{{ this.model.job.name }}'</h1>
  <div class="rows">
    {{#each this.params as |meta|}}
      <div class="columns">
        <div class="column is-4">
          <h2 class="title is-4">{{meta.title}} {{#if meta.isRequired}}*{{/if}}</h2>
          <input
            id="{{meta.name}}"
            style="width: 100%;"
            value={{this.paramValues.[meta.name]}}
            oninput={{action "updateParamValue" meta.name}}
            placeholder={{meta.placeholder}}
            required={{meta.isRequired}} >
          <small>{{#if meta.isRequired}}Required{{else}}Optional{{/if}} Meta Param ({{ meta.name }})</small>
        </div>
      </div>
    {{/each}}

    <div class="boxed-section">
      <div class="boxed-section-head">
        Payload {{#if this.isPayloadRequired}}*{{/if}}
      </div>
      {{#if this.hasPayload}}
        <div class="boxed-section-body is-full-bleed">
          <IvyCodemirror
            data-test-editor
            aria-label="Payload definition"
            @valueUpdated={{action (mut this.payload)}}
            @options={{hash
              mode="javascript"
              theme="hashi"
              screenReaderLabel="Payload definition editor"
              tabSize=2
              lineNumbers=true
            }} />
        </div>
      {{else}}
        <div class="boxed-section-body">
          <div data-test-empty-meta-message class="empty-message">
            <h3 class="empty-message-headline">Payload Disabled</h3>
            <p class="empty-message-body">Payload is disabled for this job.</p>
          </div>
        </div>
      {{/if}}
    </div>

    <div class="bumper-top">
      <button class="button is-success" type="button" onclick={{perform this.submit}}>Dispatch</button>
      <button class="button is-white" type="button" onclick={{action "cancel"}}>Cancel</button>
    </div>
  </div>
</form>