<td><a href="{{href-to "jobs.job" job.id}}" class="is-primary">{{job.name}}</a></td>
<td>
  <span class="tag {{job.statusClass}}">{{job.status}}</span>
</td>
<td>{{job.type}}</td>
<td>{{job.priority}}</td>
<td>
  {{#if job.isReloading}}
    ...
  {{else}}
    {{job.taskGroups.length}}
  {{/if}}
</td>
<td>
  <div class="inline-chart">{{allocation-status-bar allocationContainer=job isNarrow=true}}</div>
</td>
