{{!-- FIXME should these be links to tasks? --}}
<div
  class="lifecycle-chart-row {{lifecycleClass}} {{activeClass}} {{finishedClass}}"
  data-test-lifecycle-task>
  <div class="task">
    <div class="name" data-test-name>{{taskState.name}}</div>
    <div class="lifecycle" data-test-lifecycle>{{lifecycleString}} Task</div>
  </div>
</div>
