<div
  class="lifecycle-chart-row {{lifecycleClass}} {{activeClass}} {{finishedClass}}"
  data-test-lifecycle-chart-row>
  <div class="row">
    <div class="name" data-test-name>{{taskState.name}}</div>
    <div class="lifecycle" data-test-lifecycle>{{lifecycleString}} Task</div>
  </div>
</div>
