<div
  class="lifecycle-chart-row {{task.lifecycleName}} {{activeClass}} {{finishedClass}}"
  data-test-lifecycle-task>
  <div class="task">
    <div class="name" data-test-name>
      {{#if taskState}}
        <LinkTo @route="allocations.allocation.task" @models={{array taskState.allocation taskState}}>
          {{task.name}}
        </LinkTo>
      {{else}}
        {{task.name}}
      {{/if}}
    </div>
    <div class="lifecycle" data-test-lifecycle>{{capitalize task.lifecycleName}} Task</div>
  </div>
</div>
