  {{#if (gt lifecyclePhases.length 1)}}
    <div class="boxed-section" data-test-lifecycle-chart>
      <div class="boxed-section-head">
        Task Lifecycle Status
      </div>
      <div class="boxed-section-body lifecycle-chart">

        <div class="lifecycle-phases-header"></div>
        <div class="lifecycle-phases">
          {{#each lifecyclePhases as |phase|}}
            <div class="lifecycle-phase {{if phase.isActive "is-active"}} {{if (eq phase.name "Main") "main" "prestart"}}" data-test-lifecycle-phase>
              <div class="name">{{phase.name}}</div>
            </div>
          {{/each}}
        </div>

        {{#if tasks}}
          {{#each sortedLifecycleTasks as |task|}}
            {{lifecycle-chart-row task=task}}
          {{/each}}
        {{else}}
          {{#each sortedLifecycleTaskStates as |state|}}
            {{lifecycle-chart-row taskState=state task=state.task}}
          {{/each}}
        {{/if}}

      </div>
    </div>
  {{/if}}
