{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
~}}

<div class="control">
  <span class="prefix-icon">{{x-icon "search"}}</span>
  <input
    class="input {{this.inputClass}}"
    type="text"
    placeholder={{this.placeholder}}
    aria-label={{this.placeholder}}
    value={{this._searchTerm}}
    oninput={{action "setSearchTerm"}}
    size="1">
  <button class="suffix-icon" onclick={{action "clear"}} type="button" title="Clear search">{{x-icon "cancel"}}</button>
</div>
