<td><a href="{{href-to "servers.server" agent.id}}" class="is-primary">{{agent.name}}</a></td>
<td>{{agent.status}}</td>
<td>{{if agent.isLeader "True" "False"}}</td>
<td>{{agent.address}}</td>
<td>{{agent.serfPort}}</td>
<td>{{agent.datacenter}}</td>
