{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<td data-test-server-name
  {{keyboard-shortcut 
    enumerated=true
    action=(action this.goToAgent)
  }}
><LinkTo @route="servers.server" @model={{this.agent.id}} class="is-primary">{{this.agent.name}}</LinkTo></td>
<td data-test-server-status><span class="{{this.agentStatusClass}}">{{this.agent.status}}</span></td>
<td data-test-server-is-leader>
  {{if this.agent.isLeader "True" "False"}}
  {{#if this.agent.isLeader}}
    {{x-icon "check-circle-fill" class="is-success"}}
  {{/if}}
</td>
<td data-test-server-address class="is-200px is-truncatable">{{this.agent.address}}</td>
<td data-test-server-port>{{this.agent.serfPort}}</td>
<td data-test-server-datacenter>{{this.agent.datacenter}}</td>
<td data-test-server-version>{{this.agent.version}}</td>
