{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
~}}

<td data-test-server-name
  {{keyboard-shortcut 
    enumerated=true
    action=(action this.goToAgent)
  }}
><LinkTo @route="servers.server" @model={{this.agent.id}} class="is-primary">{{this.agent.name}}</LinkTo></td>
<td data-test-server-status><span>
    <Hds::Badge
      @text={{capitalize this.agent.status}}
      @color={{this.agentStatusColor}}
      @size="large"
    />
  </span></td>
<td data-test-server-is-leader>

    <Hds::Badge
      @text={{if this.agent.isLeader "True" "False"}}
      @icon={{if this.agent.isLeader "check-circle" ""}}
      @color={{if this.agent.isLeader "success" "neutral"}}
      @size="large"
    />
</td>
<td data-test-server-address class="is-200px is-truncatable">{{this.agent.address}}</td>
<td data-test-server-port>{{this.agent.serfPort}}</td>
<td data-test-server-datacenter>{{this.agent.datacenter}}</td>
<td data-test-server-version>{{this.agent.version}}</td>
