<td>{{taskGroup.name}}</td>
<td>{{taskGroup.count}}</td>
<td><div class="inline-chart">{{distribution-bar data=allocDistribution}}</div></td>
<td>{{taskGroup.reservedCPU}} MHz</td>
<td>{{taskGroup.reservedMemory}} MiB</td>
<td>{{taskGroup.reservedDisk}} MiB</td>
