<button {{action "toggleOpen"}} class="toggle-button" data-test-task-group-name>
  {{x-icon (if isOpen "chevron-down" "chevron-right")}}
  {{taskGroup.name}}
</button>
{{#if isOpen}}
  <ul class="task-list">
    {{#each taskGroup.tasks as |task|}}
      {{!-- FIXME this needs to include namespace etc query parameters AND be blocked for wrong allocations etc --}}
      {{#link-to "exec.task-group.task" taskGroup.job.name taskGroup.name task.name class="task-item" data-test-task=true}}
        <div class="border-and-label">
          <div class="border"></div>
          <div class="task-label">{{task.name}}</div>
        </div>
        {{x-icon "exit"}}
      {{/link-to}}
    {{/each}}
  </ul>
{{/if}}