<td><a href="{{href-to "jobs.job.task-group" taskGroup.job taskGroup}}">{{taskGroup.name}}</a></td>
<td>{{taskGroup.count}}</td>
<td>
  <div class="inline-chart">{{distribution-bar data=allocDistribution class="is-narrow"}}</div>
</td>
<td>{{taskGroup.reservedCPU}} MHz</td>
<td>{{taskGroup.reservedMemory}} MiB</td>
<td>{{taskGroup.reservedDisk}} MiB</td>
