{{! FIXME copy-button is taken by ember-cli-clipboard, but… 🤔 }}
{{#if (eq state 'success')}}
  <div class='button is-borderless is-small'>
    <span class="tooltip text-center always-active" role="tooltip" aria-label="Copied!">
      {{x-icon 'copy-success'}}
    </span>
  </div>
{{else if (eq state 'error')}}
  {{x-icon 'alert-triangle'}}
{{else}}
  {{#copy-button
    class='button is-borderless is-small'
    clipboardText=clipboardText
    success=(action 'success')
    error=(action (mut state) 'error')
  }}
    {{x-icon 'copy-action'}}
  {{/copy-button}}
{{/if}}