<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/index.html">Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-internal") %>>
					<a href="/docs/internals/index.html">Internals</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-internals-architecture") %>>
							<a href="/docs/internals/architecture.html">Architecture</a>
                        </li>

                        <li<%= sidebar_current("docs-internals-consensus") %>>
                        <a href="/docs/internals/consensus.html">Consensus Protocol</a>
                        </li>

                        <li<%= sidebar_current("docs-internals-gossip") %>>
                        <a href="/docs/internals/gossip.html">Gossip Protocol</a>
                        </li>

                        <li<%= sidebar_current("docs-internals-scheduling") %>>
                        <a href="/docs/internals/scheduling.html">Scheduling</a>
                        </li>

						<li<%= sidebar_current("docs-internals-telemetry") %>>
							<a href="/docs/internals/telemetry.html">Telemetry</a>
                        </li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-install") %>>
					<a href="/docs/install/index.html">Installation</a>
				</li>

				<li<%= sidebar_current("docs-jobspec") %>>
					<a href="/docs/jobspec/index.html">Job Specification</a>
				</li>

				<li<%= sidebar_current("docs-commands") %>>
					<a href="/docs/commands/index.html">Commands (CLI)</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-commands-_agent") %>>
							<a href="/docs/commands/agent.html">agent</a>
						</li>
						<li<%= sidebar_current("docs-commands-agent-force-leave") %>>
							<a href="/docs/commands/agent-force-leave.html">agent-force-leave</a>
						</li>
						<li<%= sidebar_current("docs-commands-agent-info") %>>
							<a href="/docs/commands/agent-info.html">agent-info</a>
						</li>
						<li<%= sidebar_current("docs-commands-agent-join") %>>
							<a href="/docs/commands/agent-join.html">agent-join</a>
						</li>
						<li<%= sidebar_current("docs-commands-agent-members") %>>
							<a href="/docs/commands/agent-members.html">agent-members</a>
						</li>
						<li<%= sidebar_current("docs-commands-node-drain") %>>
							<a href="/docs/commands/node-drain.html">node-drain</a>
						</li>
						<li<%= sidebar_current("docs-commands-node-status") %>>
							<a href="/docs/commands/node-status.html">node-status</a>
						</li>
						<li<%= sidebar_current("docs-commands-run") %>>
							<a href="/docs/commands/run.html">run</a>
						</li>
						<li<%= sidebar_current("docs-commands-status") %>>
							<a href="/docs/commands/status.html">status</a>
						</li>
						<li<%= sidebar_current("docs-commands-stop") %>>
							<a href="/docs/commands/stop.html">stop</a>
						</li>
						<li<%= sidebar_current("docs-commands-version") %>>
							<a href="/docs/commands/version.html">version</a>
						</li>
					</ul>
                </li>

				<li<%= sidebar_current("docs-agent") %>>
                    <a href="/docs/agent/basics.html">Nomad Agent</a>
                    <ul class="nav">
                        <li<%= sidebar_current("docs-agent-running") %>>
                        <a href="/docs/agent/basics.html">Running and Stopping</a>
                        </li>
                    </ul>
                </li>

				<li<%= sidebar_current("docs-http") %>>
					<a href="/docs/http/index.html">HTTP API</a>
				</li>

				<hr>

				<li<%= sidebar_current("docs-drivers") %>>
					<a href="/docs/drivers/index.html">Task Drivers</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-drivers-docker") %>>
							<a href="/docs/drivers/docker.html">Docker</a>
                        </li>

						<li<%= sidebar_current("docs-drivers-exec") %>>
							<a href="/docs/drivers/exec.html">Fork/Exec</a>
						</li>

						<li<%= sidebar_current("docs-drivers-java") %>>
							<a href="/docs/drivers/java.html">Java</a>
						</li>

						<li<%= sidebar_current("docs-drivers-qeumu") %>>
							<a href="/docs/drivers/qemu.html">Qemu</a>
						</li>

						<li<%= sidebar_current("docs-drivers-custom") %>>
							<a href="/docs/drivers/custom.html">Custom</a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
