<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/index.html">Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-internal") %>>
					<a href="/docs/internals/index.html">Internals</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-internals-architecture") %>>
							<a href="/docs/internals/architecture.html">Architecture</a>
                        </li>

                        <li<%= sidebar_current("docs-internals-consensus") %>>
                        <a href="/docs/internals/consensus.html">Consensus Protocol</a>
                        </li>

                        <li<%= sidebar_current("docs-internals-gossip") %>>
                        <a href="/docs/internals/gossip.html">Gossip Protocol</a>
                        </li>

                        <li<%= sidebar_current("docs-internals-scheduling") %>>
                        <a href="/docs/internals/scheduling.html">Scheduling</a>
                        </li>

						<li<%= sidebar_current("docs-internals-telemetry") %>>
							<a href="/docs/internals/telemetry.html">Telemetry</a>
                        </li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-install") %>>
					<a href="/docs/install/index.html">Installation</a>
				</li>

				<li<%= sidebar_current("docs-concepts") %>>
					<a href="/docs/concepts/index.html">Basic Concepts</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-concepts-devserver") %>>
							<a href="/docs/concepts/dev-server.html">"Dev" Server</a>
						</li>

						<li<%= sidebar_current("docs-concepts-seal") %>>
							<a href="/docs/concepts/seal.html">Seal/Unseal</a>
						</li>

						<li<%= sidebar_current("docs-concepts-lease") %>>
							<a href="/docs/concepts/lease.html">Lease, Renew, and Revoke</a>
						</li>

						<li<%= sidebar_current("docs-concepts-auth") %>>
							<a href="/docs/concepts/auth.html">Authentication</a>
						</li>

						<li<%= sidebar_current("docs-concepts-tokens") %>>
							<a href="/docs/concepts/tokens.html">Tokens</a>
						</li>

						<li<%= sidebar_current("docs-concepts-policies") %>>
							<a href="/docs/concepts/policies.html">Access Control Policies</a>
						</li>

						<li<%= sidebar_current("docs-concepts-ha") %>>
							<a href="/docs/concepts/ha.html">High Availability</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-config") %>>
					<a href="/docs/config/index.html">Configuration</a>
				</li>

				<li<%= sidebar_current("docs-commands") %>>
					<a href="/docs/commands/index.html">Commands (CLI)</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-commands-_agent") %>>
							<a href="/docs/commands/agent.html">agent</a>
						</li>
						<li<%= sidebar_current("docs-commands-agent-force-leave") %>>
							<a href="/docs/commands/agent-force-leave.html">agent-force-leave</a>
						</li>
						<li<%= sidebar_current("docs-commands-agent-info") %>>
							<a href="/docs/commands/agent-info.html">agent-info</a>
						</li>
						<li<%= sidebar_current("docs-commands-agent-join") %>>
							<a href="/docs/commands/agent-join.html">agent-join</a>
						</li>
						<li<%= sidebar_current("docs-commands-agent-members") %>>
							<a href="/docs/commands/agent-members.html">agent-members</a>
						</li>
						<li<%= sidebar_current("docs-commands-node-drain") %>>
							<a href="/docs/commands/node-drain.html">node-drain</a>
						</li>
						<li<%= sidebar_current("docs-commands-node-status") %>>
							<a href="/docs/commands/node-status.html">node-status</a>
						</li>
						<li<%= sidebar_current("docs-commands-run") %>>
							<a href="/docs/commands/run.html">run</a>
						</li>
						<li<%= sidebar_current("docs-commands-status") %>>
							<a href="/docs/commands/status.html">status</a>
						</li>
						<li<%= sidebar_current("docs-commands-stop") %>>
							<a href="/docs/commands/stop.html">stop</a>
						</li>
						<li<%= sidebar_current("docs-commands-version") %>>
							<a href="/docs/commands/version.html">version</a>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("docs-http") %>>
					<a href="/docs/http/index.html">HTTP API</a>
				</li>

				<hr>

				<li<%= sidebar_current("docs-drivers") %>>
					<a href="/docs/drivers/index.html">Drivers</a>
					<ul class="nav">
						<li<%= sidebar_current("docs-secrets-aws") %>>
							<a href="/docs/secrets/aws/index.html">AWS</a>
						</li>

						<li<%= sidebar_current("docs-secrets-consul") %>>
							<a href="/docs/secrets/consul/index.html">Consul</a>
						</li>

						<li<%= sidebar_current("docs-secrets-pki") %>>
							<a href="/docs/secrets/pki/index.html">PKI (Certificates)</a>
                        </li>

						<li<%= sidebar_current("docs-secrets-postgresql") %>>
							<a href="/docs/secrets/postgresql/index.html">PostgreSQL</a>
                        </li>

						<li<%= sidebar_current("docs-secrets-mysql") %>>
							<a href="/docs/secrets/mysql/index.html">MySQL</a>
						</li>

						<li<%= sidebar_current("docs-secrets-cassandra") %>>
							<a href="/docs/secrets/cassandra/index.html">Cassandra</a>
						</li>

						<li<%= sidebar_current("docs-secrets-ssh") %>>
							<a href="/docs/secrets/ssh/index.html">SSH</a>
						</li>

						<li<%= sidebar_current("docs-secrets-transit") %>>
							<a href="/docs/secrets/transit/index.html">Transit</a>
						</li>

						<li<%= sidebar_current("docs-secrets-generic") %>>
							<a href="/docs/secrets/generic/index.html">Generic</a>
						</li>

						<li<%= sidebar_current("docs-secrets-custom") %>>
							<a href="/docs/secrets/custom.html">Custom</a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
