<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
      <ul class="nav docs-sidenav">

      <li<%= sidebar_current("guides-getting-started") %>>
        <a href="/guides/getting-started.html">Getting Started</a>
      </li>

      <li<%= sidebar_current("guides-operating-a-job") %>>
        <a href="/guides/operating-a-job/index.html">Job Lifecycle</a>
        <ul class="nav">
          <li<%= sidebar_current("guides-operating-a-job-configuring-tasks") %>>
            <a href="/guides/operating-a-job/configuring-tasks.html">Configuring Tasks</a>
          </li>
          <li<%= sidebar_current("guides-operating-a-job-submitting-jobs") %>>
            <a href="/guides/operating-a-job/submitting-jobs.html">Submitting Jobs</a>
          </li>
          <li<%= sidebar_current("guides-operating-a-job-inspecting-state") %>>
            <a href="/guides/operating-a-job/inspecting-state.html">Inspecting State</a>
          </li>
          <li<%= sidebar_current("guides-operating-a-job-accessing-logs") %>>
            <a href="/guides/operating-a-job/accessing-logs.html">Accessing Logs</a>
          </li>
          <li<%= sidebar_current("guides-operating-a-job-resource-utilization") %>>
            <a href="/guides/operating-a-job/resource-utilization.html">Resource Utilization</a>
          </li>
          <li<%= sidebar_current("guides-operating-a-job-updating") %>>
            <a href="/guides/operating-a-job/update-strategies/index.html">Update Strategies</a>
            <ul class="nav">
              <li<%= sidebar_current("guides-operating-a-job-updating-rolling-upgrades") %>>
                <a href="/guides/operating-a-job/update-strategies/rolling-upgrades.html">Rolling Upgrades</a>
              </li>
              <li<%= sidebar_current("guides-operating-a-job-updating-blue-green-deployments") %>>
                <a href="/guides/operating-a-job/update-strategies/blue-green-and-canary-deployments.html">Blue/Green &amp; Canary</a>
              </li>
              <li<%= sidebar_current("guides-operating-a-job-updating-handling-signals") %>>
                <a href="/guides/operating-a-job/update-strategies/handling-signals.html">Handling Signals</a>
              </li>
            </ul>
          </li>
           <li<%= sidebar_current("guides-operating-a-job-failure-handling-strategies") %>>
            <a href="/guides/operating-a-job/failure-handling-strategies/index.html">Failure Recovery Strategies</a>
            <ul class="nav">
              <li<%= sidebar_current("guides-operating-a-job-failure-handling-strategies-local-restarts") %>>
                <a href="/guides/operating-a-job/failure-handling-strategies/restart.html">Local Restarts</a>
              </li>
              <li<%= sidebar_current("guides-operating-a-job-failure-handling-strategies-check-restart") %>>
                <a href="/guides/operating-a-job/failure-handling-strategies/check-restart.html">Check Restarts</a>
              </li>
              <li<%= sidebar_current("guides-operating-a-job-failure-handling-strategies-reschedule") %>>
                <a href="/guides/operating-a-job/failure-handling-strategies/reschedule.html">Rescheduling</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("guides-operations") %>>
        <a href="/guides/operations/index.html">Operations</a>
        <ul class="nav">

          <li<%= sidebar_current("guides-operations-installing") %>>
            <a href="/guides/operations/install/index.html">Installing Nomad</a>
          </li>

          <li<%= sidebar_current("guides-agent") %>>
            <a href="/guides/operations/agent/index.html">Running the Agent</a>
          </li>

          <li<%= sidebar_current("guides-operations-consul-integration") %>>
            <a href="/guides/operations/consul-integration/index.html">Consul Integration</a>
          </li>         

          <li<%= sidebar_current("guides-operations-cluster") %>>
            <a href="/guides/operations/cluster/bootstrapping.html">Clustering</a>
            <ul class="nav">
              <li<%= sidebar_current("guides-operations-cluster-manual") %>>
                <a href="/guides/operations/cluster/manual.html">Manual Clustering</a>
              </li>              
              <li<%= sidebar_current("guides-operations-cluster-automatic") %>>
                <a href="/guides/operations/cluster/automatic.html">Automatic Clustering with Consul</a>
              </li>
              <li <%= sidebar_current("guides-operations-cluster-cloud-auto-join") %>>
                <a href="/guides/operations/cluster/cloud_auto_join.html">Cloud Auto-join</a>
              </li>
            </ul>
          </li>

          <li<%= sidebar_current("guides-operations-requirements") %>>
            <a href="/guides/operations/requirements.html">Hardware Requirements</a>
          </li>

          <li<%= sidebar_current("guides-operations-federation") %>>
            <a href="/guides/operations/federation.html">Multi-region Federation</a>
          </li>

          <li<%= sidebar_current("guides-operations-vault-integration") %>>
            <a href="/guides/operations/vault-integration/index.html">Vault Integration</a>
          </li> 

          <li<%= sidebar_current("guides-operations-decommissioning-nodes") %>>
            <a href="/guides/operations/node-draining.html">Workload Migration</a>
          </li>

          <li<%= sidebar_current("guides-operations-outage-recovery") %>>
            <a href="/guides/operations/outage.html">Outage Recovery</a>
          </li>

          <li<%= sidebar_current("guides-operations-monitoring") %>>
            <a href="/guides/operations/monitoring/telemetry.html">Monitoring</a>
            <ul class="nav">
              <li<%= sidebar_current("guides-operations-monitoring-telemetry") %>>
                <a href="/guides/operations/monitoring/telemetry.html">Telemetry</a>
              </li>
              <li<%= sidebar_current("guides-operations-monitoring-grafana") %>>
                <a href="/guides/operations/monitoring/nomad-metrics.html">Grafana and Prometheus</a>
              </li>
            </ul>
          </li>

          <li<%= sidebar_current("guides-operations-upgrade") %>>
            <a href="/guides/operations/upgrade/index.html">Upgrading</a>
            <ul class="nav">
              <li<%= sidebar_current("guides-operations-upgrade-specific") %>>
                <a href="/guides/operations/upgrade/upgrade-specific.html">Upgrade Guides</a>
              </li>
            </ul>
          </li>

          <li<%= sidebar_current("guides-operations-autopilot") %>>
            <a href="/guides/operations/autopilot.html">Autopilot</a>
          </li>

        </ul>
      </li>

      <li<%= sidebar_current("guides-security") %>>
        <a href="/guides/security/index.html">Security and Governance</a>
        <ul class="nav">

          <li<%= sidebar_current("guides-security-encryption") %>>
            <a href="/guides/security/encryption.html">Encryption Overview</a>
          </li>

          <li<%= sidebar_current("guides-security-tls") %>>
            <a href="/guides/security/securing-nomad.html">Securing Nomad with TLS</a>
          </li>

          <li<%= sidebar_current("guides-security-acl") %>>
            <a href="/guides/security/acl.html">Access Control</a>
          </li>

          <li<%= sidebar_current("guides-security-namespaces") %>>
            <a href="/guides/security/namespaces.html">Namespaces</a>
          </li>

          <li<%= sidebar_current("guides-security-quotas") %>>
            <a href="/guides/security/quotas.html">Resource Quotas</a>
          </li>

          <li<%= sidebar_current("guides-security-sentinel") %>>
            <a href="/guides/security/sentinel-policy.html">Sentinel Policies</a>
            <ul class="nav">
              <li<%= sidebar_current("guides-security-sentinel-job") %>>
                <a href="/guides/security/sentinel/job.html">Job Object</a>
              </li>
            </ul>
          </li>

        </ul>
      </li>          

      <li<%= sidebar_current("guides-spark") %>>
        <a href="/guides/spark/spark.html">Apache Spark Integration</a>
        <ul class="nav">
          <li<%= sidebar_current("guides-spark-pre") %>>
            <a href="/guides/spark/pre.html">Getting Started</a>
          </li>
          <li<%= sidebar_current("guides-spark-submit") %>>
            <a href="/guides/spark/submit.html">Submitting Applications</a>
          </li>
          <li<%= sidebar_current("guides-spark-customizing") %>>
            <a href="/guides/spark/customizing.html">Customizing Applications</a>
          </li>
          <li<%= sidebar_current("guides-spark-resource") %>>
            <a href="/guides/spark/resource.html">Resource Allocation</a>
          </li>
          <li<%= sidebar_current("guides-spark-dynamic") %>>
            <a href="/guides/spark/dynamic.html">Dynamic Executors</a>
          </li>
          <li<%= sidebar_current("guides-spark-hdfs") %>>
            <a href="/guides/spark/hdfs.html">Using HDFS</a>
          </li>
          <li<%= sidebar_current("guides-spark-monitoring") %>>
            <a href="/guides/spark/monitoring.html">Monitoring Output</a>
          </li>
          <li<%= sidebar_current("guides-spark-configuration") %>>
            <a href="/guides/spark/configuration.html">Configuration Properties</a>
          </li>
        </ul>
      </li>

      <li<%= sidebar_current("guides-ui") %>>
        <a href="/guides/ui.html">Web UI</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
