<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
					<a href="/docs/index.html">Documentation Home</a>
				</li>

				<hr>

				<li<%= sidebar_current("docs-http-overview") %>>
					<a href="/docs/http/index.html">Overview</a>
                </li>

				<li<%= sidebar_current("docs-http-job") %>>
					<a href="#">Jobs</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-seal-status") %>>
							<a href="/docs/http/sys-seal-status.html">/v1/jobs</a>
						</li>

						<li<%= sidebar_current("docs-http-seal-seal") %>>
							<a href="/docs/http/sys-seal.html">/v1/job</a>
						</li>
					</ul>
                </li>

				<li<%= sidebar_current("docs-http-job") %>>
					<a href="#">Nodes</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-seal-status") %>>
							<a href="/docs/http/sys-seal-status.html">/v1/nodes</a>
						</li>

						<li<%= sidebar_current("docs-http-seal-seal") %>>
							<a href="/docs/http/sys-seal.html">/v1/node</a>
						</li>
					</ul>
                </li>

				<li<%= sidebar_current("docs-http-job") %>>
					<a href="#">Allocations</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-seal-status") %>>
							<a href="/docs/http/sys-seal-status.html">/v1/allocations</a>
						</li>

						<li<%= sidebar_current("docs-http-seal-seal") %>>
							<a href="/docs/http/sys-seal.html">/v1/allocation</a>
						</li>
					</ul>
                </li>

				<li<%= sidebar_current("docs-http-job") %>>
					<a href="#">Evaluations</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-seal-status") %>>
							<a href="/docs/http/sys-seal-status.html">/v1/evaluations</a>
						</li>

						<li<%= sidebar_current("docs-http-seal-seal") %>>
							<a href="/docs/http/sys-seal.html">/v1/evaluation</a>
						</li>
					</ul>
                </li>

				<li<%= sidebar_current("docs-http-job") %>>
					<a href="#">Agent</a>
					<ul class="nav nav-visible">
						<li<%= sidebar_current("docs-http-seal-status") %>>
							<a href="/docs/http/sys-seal-status.html">/v1/agent/self</a>
						</li>
					</ul>
                </li>
			</ul>
		</div>
	<% end %>

	<div class="bs-api-section">
	<%= yield %>
	</div>
<% end %>
