{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Storage"}}

<Breadcrumb @crumb={{hash label="Storage" args=(array "storage.index")}} />{{outlet}}

<StorageSubnav />
<section class="section storage-index">
  {{#if this.isForbidden}}
    <ForbiddenMessage />
  {{else}}
    <Hds::Card::Container @level="base" @hasBorder={{false}} class="storage-index-table-card">
      <header aria-label="CSI Volumes">
        <h3>CSI Volumes</h3>
        <p class="intro">
          Storage configured by plugins run as Nomad jobs, with advanced features like snapshots and resizing.
          <Hds::Link::Inline @href="https://developer.hashicorp.com/nomad/docs/concepts/plugins/csi" @icon="docs-link" @iconPosition="trailing">Read more</Hds::Link::Inline>
        </p>
      </header>
      {{#if this.sortedCSIVolumes.length}}
        <Hds::Table @caption="CSI Volumes" @model={{this.sortedCSIVolumes}}
          @columns={{this.csiColumns}} @sortBy="name">
          <:body as |B|>
            <B.Tr>
              <B.Td>
                <LinkTo
                  @route="storage.volumes.volume"
                  @model={{B.data.idWithNamespace}}
                  class="is-primary"
                >
                  {{B.data.name}}
                </LinkTo>
              </B.Td>
              <B.Td>
                {{#if this.system.shouldShowNamespaces}}
                  {{B.data.namespace.name}}
                {{else}}
                  --
                {{/if}}
              </B.Td>
              <B.Td data-test-volume-schedulable>
                {{if B.data.schedulable "Schedulable" "Unschedulable"}}
              </B.Td>
              <B.Td data-test-volume-controller-health>
                {{#if B.data.controllerRequired}}
                  {{if (gt B.data.controllersHealthy 0) "Healthy" "Unhealthy"}}
                  (
                  {{B.data.controllersHealthy}}
                  /
                  {{B.data.controllersExpected}}
                  )
                {{else if (gt B.data.controllersExpected 0)}}
                  {{if (gt B.data.controllersHealthy 0) "Healthy" "Unhealthy"}}
                  (
                  {{B.data.controllersHealthy}}
                  /
                  {{B.data.controllersExpected}}
                  )
                {{else}}
                  <em class="is-faded">
                    Node Only
                  </em>
                {{/if}}
              </B.Td>
              <B.Td data-test-volume-node-health>
                {{if (gt B.data.nodesHealthy 0) "Healthy" "Unhealthy"}}
                (
                {{B.data.nodesHealthy}}
                /
                {{B.data.nodesExpected}}
                )
              </B.Td>
              <B.Td data-test-volume-provider>
                {{B.data.provider}}
              </B.Td>
              <B.Td data-test-volume-allocations>
                {{B.data.allocationCount}}
              </B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
      {{else}}
        <p>No CSI Volumes found</p>
      {{/if}}
    </Hds::Card::Container>

    <Hds::Card::Container @level="base" @hasBorder={{false}} class="storage-index-table-card">
      <header aria-label="Dynamic Host Volumes">
        <h3>Dynamic Host Volumes</h3>
        <p class="intro">
          Storage provisioned via plugin scripts on a particular client, modifiable without requiring client restart.
          <Hds::Link::Inline @href="https://developer.hashicorp.com/nomad/docs/commands/volume/create" @icon="docs-link" @iconPosition="trailing">Read more</Hds::Link::Inline>
        </p>
      </header>
      {{#if this.sortedDynamicHostVolumes.length}}
        <Hds::Table @caption="Dynamic Host Volumes" @model={{this.sortedDynamicHostVolumes}}
          @columns={{this.dhvColumns}} @sortBy="name">
          <:body as |B|>
            <B.Tr data-test-dhv-row>
              <B.Td>
                <LinkTo data-test-dhv-name={{B.data.name}} @route="storage.volumes.dynamic-host-volume"
                  @model={{B.data.idWithNamespace}}>
                    {{B.data.name}}
                  </LinkTo>
              </B.Td>
              <B.Td>{{B.data.namespace}}</B.Td>
              <B.Td>{{B.data.pluginID}}</B.Td>
              <B.Td>{{B.data.state}}</B.Td>
              <B.Td>
                <span class="tooltip" aria-label="{{format-month-ts B.data.modifyTime}}">
                  {{moment-from-now B.data.modifyTime}}
                </span>
              </B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
      {{/if}}
    </Hds::Card::Container>

    <Hds::Card::Container @level="base" @hasBorder={{false}} class="storage-index-table-card"
      {{keyboard-shortcut
        label="Scan for Static Host Volumes"
        pattern=(array "s" "c" "a" "n")
        action=(action "performScanForStaticHostVolumes")
      }}
    >
      <header aria-label="Static Host Volumes">
        <h3>
          Static Host Volumes
          <Hds::TooltipButton @text="Static Host Volumes are scanned by reading all nodes in your cluster, so this list will not automatically load or update.">
            <Hds::Icon @name="info" />
          </Hds::TooltipButton>
        </h3>
        <div class="actions">
          <Hds::Button
            @color="secondary"
            disabled={{this.scanForStaticHostVolumes.isRunning}}
            @icon={{if this.scanForStaticHostVolumes.isRunning "loading" "search"}}
            @text="{{if this.scanForStaticHostVolumes.isRunning "Scanning" "Scan"}} for Static Host Volumes"
            {{on "click" (perform this.scanForStaticHostVolumes)}}
          />
          {{#if this.scanForStaticHostVolumes.isRunning}}
            <Hds::Button
              autofocus
              @icon="x"
              @iconPosition="trailing"
              @text="cancel"
              @color="tertiary"
              {{on "click" (action this.pauseScanForStaticHostVolumes)}}
            />
          {{/if}}
        </div>
        <p class="intro">
          Defined in the Nomad agent's config file, best for infrequently changing storage
        </p>
      </header>
      {{#if this.sortedStaticHostVolumes.length}}
        <Hds::Table @caption="Static Host Volumes" @model={{this.sortedStaticHostVolumes}}
          @columns={{array
            (hash key="name" label="Name" isSortable=true)
            (hash key="path" label="Path" isSortable=true)
            (hash key="readOnly" label="Read Only?" isSortable=true)
          }}
          @sortBy="name"
        >
          <:body as |B|>
            <B.Tr>
              <B.Td>
                <LinkTo @route="clients.client" @models={{array B.data.nodeID}}>{{B.data.name}}</LinkTo>
              </B.Td>
              <B.Td>{{B.data.path}}</B.Td>
              <B.Td>{{B.data.readOnly}}</B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
      {{else if
        (and
          (not this.scanForStaticHostVolumes.isRunning)
          this.scanForStaticHostVolumes.lastSuccessful
        )
      }}
        <p>No Static Host Volumes found</p>
      {{/if}}
    </Hds::Card::Container>

    <Hds::Card::Container @level="base" @hasBorder={{false}} class="storage-index-table-card"
      {{keyboard-shortcut
        label="Scan for Ephemeral Disks"
        pattern=(array "s" "c" "a" "n")
        action=(action "performScanForEphemeralDisks")
      }}
    >
      <header aria-label="Ephemeral Disks">
        <h3>
          Ephemeral Disks
          <Hds::TooltipButton @text="Ephemeral Disks are scanned by reading all allocations in your cluster, so this list will not automatically load or update.">
            <Hds::Icon @name="info" />
          </Hds::TooltipButton>
        </h3>
        <div class="actions">
          <Hds::Button
            @color="secondary"
            disabled={{this.scanForEphemeralDisks.isRunning}}
            @icon={{if this.scanForEphemeralDisks.isRunning "loading" "search"}}
            @text="{{if this.scanForEphemeralDisks.isRunning "Scanning" "Scan"}} for Ephemeral Disks"
            {{on "click" (perform this.scanForEphemeralDisks)}}
          />
          {{#if this.scanForEphemeralDisks.isRunning}}
            <Hds::Button
              autofocus
              @icon="x"
              @iconPosition="trailing"
              @text="cancel"
              @color="tertiary"
              {{on "click" (action this.pauseScanForEphemeralDisks)}}
            />
          {{/if}}
        </div>
        <p class="intro">
          Best-effort persistence, ideal for rebuildable data. Stored in the <code>/alloc/data</code> directory in a given allocation.
        </p>
      </header>
      {{#if this.sortedEphemeralDisks.length}}
        <Hds::Table @caption="Ephemeral Disks" @model={{this.sortedEphemeralDisks}}
          @columns={{array (hash key="name" label="Name") (hash key="size" label="Size" isSortable=true)}} @sortBy="size" @sortOrder="desc">
          <:body as |B|>
            <B.Tr>
              <B.Td>
                <LinkTo @route="allocations.allocation.fs" @models={{array B.data.id 'alloc/data'}}>{{B.data.name}}</LinkTo>
              </B.Td>
              <B.Td>{{B.data.size}}</B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
        {{!-- TODO: pagination for all tables here --}}
      {{else if
        (and
          (not this.scanForEphemeralDisks.isRunning)
          this.scanForEphemeralDisks.lastSuccessful
        )
      }}
        <p>No Ephemeral Disks found</p>
      {{/if}}
    </Hds::Card::Container>

  {{/if}}
</section>
