{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Storage"}}

<Breadcrumb @crumb={{hash label="Storage" args=(array "storage.index")}} />{{outlet}}

<StorageSubnav />
<section class="section storage-index">
  {{!-- <div class="toolbar">
    <div class="toolbar-item">
      {{#if this.visibleVolumes.length}}
        <SearchBox
          data-test-volumes-search
          @searchTerm={{mut this.searchTerm}}
          @onChange={{action this.resetPagination}}
          @placeholder="Search volumes..."
        />
      {{/if}}
    </div>
    {{#if this.system.shouldShowNamespaces}}
      <div class="toolbar-item is-right-aligned is-mobile-full-width">
        <div class="button-bar">
          <SingleSelectDropdown
            data-test-namespace-facet
            @label="Namespace"
            @options={{this.optionsNamespaces}}
            @selection={{this.qpNamespace}}
            @onSelect={{action this.setFacetQueryParam "qpNamespace"}}
          />
        </div>
      </div>
    {{/if}}
  </div> --}}

  <Hds::Alert class="storage-intro" @type="inline" @icon="database" @color="highlight" @title="Storage is in beta" as |A|>
    <A.Title>Storage</A.Title>
    <A.Description>
      Nomad has four main ways to store and persist data:
      <ul>
        <li><strong>CSI Volumes:</strong> A flexible option with advanced features like snapshots and resizing.</li>
        <li><strong>Dynamic Host Volumes:</strong> Easily provisioned for both local and networked storage.</li>
        <li><strong>Static Host Volumes:</strong> Defined in the Nomad agent's config file, best for infrequently changing storage.</li>
        <li><strong>Ephemeral Disks:</strong> Best-effort persistence, ideal for rebuildable data.</li>
      </ul>
      For more details, visit <Hds::Link::Inline @icon="docs-link" @href="https://developer.hashicorp.com/nomad/docs/operations/stateful-workloads">Considerations for Stateful Workloads</Hds::Link::Inline>.
    </A.Description>
  </Hds::Alert>


  {{#if this.isForbidden}}
    <ForbiddenMessage />
  {{else}}
    {{#if this.sortedDynamicHostVolumes.length}}
      <Hds::Table @caption="Dynamic Host Volumes" @model={{this.sortedDynamicHostVolumes}}
        @columns={{this.dhvColumns}} @sortBy="name">
        <:body as |B|>
          <B.Tr {{keyboard-shortcut enumerated=true action=(action "openDHV" B.data) }} data-test-dhv-row>
            <B.Td>
              {{!-- <LinkTo data-test-dhv-name={{B.data.name}} @route="storage.dhv"
                @model={{B.data.name}}>{{B.data.name}}</LinkTo> --}}
                {{B.data.name}}
            </B.Td>
            <B.Td>{{B.data.namespace.name}}</B.Td>
            <B.Td>{{B.data.pluginID}}</B.Td>
            <B.Td>{{B.data.state}}</B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>


      <Hds::Table @caption="CSI Volumes" @model={{this.sortedCSIVolumes}}
        @columns={{this.csiColumns}} @sortBy="name">
        <:body as |B|>
          <B.Tr>
            <B.Td>
              <LinkTo
                @route="storage.volumes.volume"
                @model={{B.data.idWithNamespace}}
                class="is-primary"
              >
                {{B.data.name}}
              </LinkTo>
            </B.Td>
            <B.Td>
              {{#if this.system.shouldShowNamespaces}}
                {{B.data.namespace.name}}
              {{else}}
                --
              {{/if}}
            </B.Td>
            <B.Td data-test-volume-schedulable>
              {{if B.data.schedulable "Schedulable" "Unschedulable"}}
            </B.Td>
            <B.Td data-test-volume-controller-health>
              {{#if B.data.controllerRequired}}
                {{if (gt B.data.controllersHealthy 0) "Healthy" "Unhealthy"}}
                (
                {{B.data.controllersHealthy}}
                /
                {{B.data.controllersExpected}}
                )
              {{else if (gt B.data.controllersExpected 0)}}
                {{if (gt B.data.controllersHealthy 0) "Healthy" "Unhealthy"}}
                (
                {{B.data.controllersHealthy}}
                /
                {{B.data.controllersExpected}}
                )
              {{else}}
                <em class="is-faded">
                  Node Only
                </em>
              {{/if}}
            </B.Td>
            <B.Td data-test-volume-node-health>
              {{if (gt B.data.nodesHealthy 0) "Healthy" "Unhealthy"}}
              (
              {{B.data.nodesHealthy}}
              /
              {{B.data.nodesExpected}}
              )
            </B.Td>
            <B.Td data-test-volume-provider>
              {{B.data.provider}}
            </B.Td>
            <B.Td data-test-volume-allocations>
              {{B.data.allocationCount}}
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    {{/if}}
  {{/if }}

</section>
