{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<section class="section">
  <div class="toolbar">
    <p class="toolbar-item">
      ACL Tokens are associated with one or more policies or roles to grant specific capabilities. Users can use these to sign into, and operate, Nomad with the permissions laid out in their policies.
    </p>
  </div>
  {{#if this.model.tokens.length}}
    <Hds::Table @caption="A list of tokens for this cluster" class="acl-table"
      @model={{this.model.tokens}}
      @columns={{array
        (hash key="name" label="Name" isSortable=true)
        (hash key="createTime" label="Created" isSortable=true)
        (hash key="expirationTime" label="Expires" isSortable=true)
        (hash key="roles" label="Roles")
        (hash key="policies" label="Policies")
        (hash key="delete" label="Delete")
      }}
      @sortBy="name"
    >
      <:body as |B|>
        <B.Tr>
          <B.Td>{{B.data.name}}</B.Td>
          <B.Td>{{moment-from-now B.data.createTime interval=1000}}</B.Td>
          <B.Td>
            {{#if B.data.expirationTime}}
              <Tooltip @text={{B.data.expirationTime}}>
                <span data-test-token-expiration-time class="{{if B.data.isExpired "has-text-danger"}}">{{moment-from-now B.data.expirationTime interval=1000}}</span>
              </Tooltip>
            {{else}}
              <span class="has-text-grey">Never</span>
            {{/if}}
          </B.Td>

            <B.Td>
              <div class="tag-group">
                {{!--
                  We don't treat roles (roleNames) the same as policies, because Roles' names are currently
                  returning blank on the /tokens endpoint: https://github.com/hashicorp/nomad/issues/18451
                  TODO: when that's fixed, we can use an #each #let pattern like we do for policyNames.
                 --}}
                {{#each B.data.roles as |role|}}
                  {{#if role.name}}
                    <Hds::Tag @color="primary" @text="{{role.name}}" @route="access-control.roles.role" @model="{{role.id}}" />
                  {{/if}}
                {{else}}
                  No Roles
                {{/each}}
              </div>
            </B.Td>

            <B.Td>
              <div class="tag-group">
                {{#each B.data.policyNames as |policyName|}}
                  {{#let (find-by "name" policyName this.model.policies) as |policy|}}
                    {{#if policy}}
                      <Hds::Tag @color="primary" @text="{{policy.name}}" @route="access-control.policies.policy" @model="{{policy.name}}" />
                    {{else}}
                      <Hds::Tag @text="{{policyName}}" />
                    {{/if}}
                  {{/let}}
                {{else}}
                  No Policies
                {{/each}}
              </div>
            </B.Td>

            {{#if (can "destroy token")}}
              <B.Td>
                {{#if (eq B.data.type "management")}}
                  <Tooltip @text="Can't delete a management token" @isFullText={{true}}>
                    <Hds::Button @text="Delete" disabled @size="small" @color="critical" />
                  </Tooltip>
                {{else}}
                  <Hds::Button @text="Delete" @size="small" @color="critical"
                    {{on "click" (perform this.deleteToken B.data)}}
                  />
                {{/if}}
              </B.Td>
            {{/if}}

        </B.Tr>
      </:body>
    </Hds::Table>
  {{else}}
    <div class="empty-message">
      <h3 data-test-empty-policies-list-headline class="empty-message-headline">
        No Tokens
      </h3>
      <p class="empty-message-body">
        Get started by <LinkTo @route="access-control.policies.new">creating a new policy</LinkTo>
      </p>
    </div>
  {{/if}}
</section>
