<h1 class="title with-flex">
  <div>
    {{or title job.name}}
    <span class="bumper-left tag {{job.statusClass}}" data-test-job-status>{{job.status}}</span>
  </div>
  {{yield}}
  <div>
    <div class="two-step-button">
      {{exec/open-button job=job}}
    </div>
    {{#if (not (eq job.status "dead"))}}
      {{two-step-button
        data-test-stop
        idleText="Stop"
        cancelText="Cancel"
        confirmText="Yes, Stop"
        confirmationMessage="Are you sure you want to stop this job?"
        awaitingConfirmation=stopJob.isRunning
        onConfirm=(perform stopJob)}}
    {{else}}
      {{two-step-button
        data-test-start
        idleText="Start"
        cancelText="Cancel"
        confirmText="Yes, Start"
        confirmationMessage="Are you sure you want to start this job?"
        awaitingConfirmation=startJob.isRunning
        onConfirm=(perform startJob)}}
    {{/if}}
  </div>
</h1>
