{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<h1 class="title with-flex">
  <div data-test-job-name>
    {{or this.title this.job.name}}
    {{#if @job.meta.structured.pack}}
      <span data-test-pack-tag class="tag is-hollow">
        {{x-icon "box" class= "test"}}
        <span>Pack</span>
      </span>
    {{/if}}
    {{yield}}
  </div>
  <div>
    {{#if (not (eq this.job.status "dead"))}}
      {{!-- ACTIONS --}}
      {{log "job actions" this.job.actions}}
      {{#if this.job.actions.length}}
        <Hds::Dropdown class="actions-dropdown" as |dd|>
          <dd.ToggleButton @color="secondary" @text="Actions" />
          {{#each this.job.actions as |action|}}
            {{#if (gt this.job.allocations.length 1)}}
              <dd.Separator />
              <dd.Title @text={{action.name}} />
              <dd.Interactive {{on "click" (perform this.runAction action "60a46e43-48d4-7ad8-6553-4cee9ab2f92b")}} @text="Run on a random alloc" />
              <dd.Interactive {{on "click" (perform this.runAction action "random")}} @text="Run on all {{this.job.allocations.length}} allocs" />
            {{else}}
              <dd.Interactive {{on "click" (perform this.runAction action "60a46e43-48d4-7ad8-6553-4cee9ab2f92b")}} @text="{{action.name}}" />
            {{/if}}
          {{/each}}
          {{!-- <dd.ToggleIcon @color="secondary" @icon="user-circle" @text="user menu" @size="small" data-test-header-profile-dropdown />
          <dd.Title @text="Signed In" />
          <dd.Description @text={{this.token.selfToken.name}} />
          <dd.Separator />
          <dd.Interactive @route="settings.tokens" @text="Profile" data-test-profile-dropdown-profile-link />
          <dd.Interactive {{on "click" this.signOut}} @text="Sign Out" @color="critical" data-test-profile-dropdown-sign-out-link /> --}}
        </Hds::Dropdown>

      {{/if}}
      <div class="two-step-button">
        <Exec::OpenButton @job={{this.job}} />
      </div>
      <TwoStepButton
        data-test-stop
        @alignRight={{true}}
        @idleText="Stop Job"
        @cancelText="Cancel"
        @confirmText="Yes, Stop Job"
        @confirmationMessage="Are you sure you want to stop this job?"
        @awaitingConfirmation={{this.stopJob.isRunning}}
        @onConfirm={{perform this.stopJob}}
        {{keyboard-shortcut 
          label="Stop"
          pattern=(array "s" "t" "o" "p")
          action=(perform this.stopJob true)
        }} />
    {{else}}
      <TwoStepButton
        data-test-purge
        @alignRight={{true}}
        @idleText="Purge Job"
        @cancelText="Cancel"
        @confirmText="Yes, Purge Job"
        @confirmationMessage="Are you sure? You cannot undo this action."
        @awaitingConfirmation={{this.purgeJob.isRunning}}
        @onConfirm={{perform this.purgeJob}}
        {{keyboard-shortcut 
          label="Purge"
          pattern=(array "p" "u" "r" "g" "e")
          action=(perform this.purgeJob)
        }}
        />
      <TwoStepButton
        data-test-start
        @alignRight={{true}}
        @idleText="Start Job"
        @cancelText="Cancel"
        @confirmText="Yes, Start Job"
        @confirmationMessage="Are you sure you want to start this job?"
        @awaitingConfirmation={{this.startJob.isRunning}}
        @onConfirm={{perform this.startJob}}
        {{keyboard-shortcut 
          label="Start"
          pattern=(array "s" "t" "a" "r" "t")
          action=(perform this.startJob true)
        }}
        />
    {{/if}}
  </div>
</h1>
