<HeadLayout />
{{title (if system.shouldShowRegions (concat system.activeRegion " - ")) "Nomad" separator=" - "}}
<svg class="svg-pattern" height="0" width="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
 <defs>

 {{! Evenly sized diagonal stripes}}
 <pattern id="diagonal-stripe-3" patternUnits="userSpaceOnUse" width="10" height="10">
  <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+" x="0" y="0" width="10" height="10"></image>
 </pattern>

 </defs>
</svg>
{{#unless error}}
  {{outlet}}
{{else}}
  <div class="error-container">
    <div data-test-error class="error-message">
      {{#if isNoLeader}}
        <h1 data-test-error-title class="title is-spaced">No Cluster Leader</h1>
        <p data-test-error-message class="subtitle">
          The cluster has no leader. <a href="https://www.nomadproject.io/guides/outage.html"> Read about Outage Recovery.</a>
        </p>
      {{else if is500}}
        <h1 data-test-error-title class="title is-spaced">Server Error</h1>
        <p data-test-error-message class="subtitle">A server error prevented data from being sent to the client.</p>
      {{else if is404}}
        <h1 data-test-error-title class="title is-spaced">Not Found</h1>
        <p data-test-error-message class="subtitle">What you're looking for couldn't be found. It either doesn't exist or you are not authorized to see it.</p>
      {{else if is403}}
        <h1 data-test-error-title class="title is-spaced">Not Authorized</h1>
        {{#if token.secret}}
          <p data-test-error-message class="subtitle">Your <LinkTo @route="settings.tokens" data-test-error-acl-link>ACL token</LinkTo> does not provide the required permissions. Contact your administrator if this is an error.</p>
        {{else}}
          <p data-test-error-message class="subtitle">Provide an <LinkTo @route="settings.tokens" data-test-error-acl-link>ACL token</LinkTo> with requisite permissions to view this.</p>
        {{/if}}
      {{else}}
        <h1 data-test-error-title class="title is-spaced">Error</h1>
        <p data-test-error-message class="subtitle">Something went wrong.</p>
      {{/if}}
      {{#if (eq config.environment "development")}}
        <pre class="error-stack-trace"><code>{{errorStr}}</code></pre>
      {{/if}}
    </div>
    <div class="error-links">
      <LinkTo @route="jobs" data-test-error-jobs-link class="button is-white">Go to Jobs</LinkTo>
      <LinkTo @route="clients" data-test-error-clients-link class="button is-white">Go to Clients</LinkTo>
    </div>
  </div>
{{/unless}}
