{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Exec"}}
<nav class="navbar is-popup">
  <div class="navbar-brand">
    <div class="navbar-item is-logo">
      <NomadLogo />
    </div>
  </div>
    {{#if this.system.shouldShowRegions}}
      <div class="navbar-item">
        <span class="navbar-label">Region</span>
        <span data-test-region>{{this.model.region}}</span>
      </div>
    {{/if}}

    {{#if this.system.shouldShowNamespaces}}
      <div class="navbar-item">
        <span class="navbar-label">Namespace</span>
        <span data-test-namespace>{{this.model.namespace.id}}</span>
      </div>
    {{/if}}

    <div class="navbar-item">
      <span class="navbar-label">Job</span>
      <span data-test-job>{{this.model.name}}</span>
    </div>
  <div class="navbar-end">
    <a href="https://nomadproject.io/docs" target="_blank" rel="noopener noreferrer" class="navbar-item">Documentation</a>
    {{x-icon "lock-closed"}}
  </div>
</nav>

{{#if (eq this.model.status "dead")}}
  <div class="exec-window" data-test-exec-job-dead>
    <div class="task-group-tree">
    </div>
    <div class="terminal-container" data-test-exec-job-dead-message>
      Job <code>{{this.model.name}}</code> is dead and cannot host an exec session.
    </div>
  </div>
{{else}}
  <div class="exec-window">
    <div class="task-group-tree">
      <h4 class="title is-6">Tasks</h4>
      <ul>
        {{#each this.sortedTaskGroups as |taskGroup|}}
          <li data-test-task-group>
            <Exec::TaskGroupParent
              @taskGroup={{taskGroup}}
              @shouldOpenInNewWindow={{this.socketOpen}}
              @activeTaskName={{this.taskName}}
              @activeTaskGroupName={{this.taskGroupName}} />
          </li>
        {{/each}}
      </ul>
    </div>
    <ExecTerminal @terminal={{this.terminal}} />
  </div>
{{/if}}