{{title "Exec"}}

<header>
  region: <span data-test-region>{{model.region}}</span>
  namespace: <span data-test-namespace>{{model.namespace.id}}</span>
  job: <span data-test-job>{{model.name}}</span>
</header>

<div class="task-group-tree">
  <h4 class="title is-6">Tasks</h4>
  <ul>
    {{#each model.taskGroups as |taskGroup|}}
      <li data-test-task-group>
        {{task-group-parent taskGroup=taskGroup}}
      </li>
    {{/each}}
  </ul>
</div>