{{page-title "OidcTestRoutePleaseDelete"}}

<section class="mock-sso-provider">
  <h1>Pretend this is {{this.auth_method}} for a sec</h1>
  <div class="providers">
    {{#each this.model as |fakeAccount|}}
      <button type="button" class="button" {{on "click" (fn this.signIn fakeAccount)}}>
        Sign In as {{fakeAccount.name}}
      </button>
    {{/each}}
    <button type="button" class="button error" {{on "click" this.failToSignIn}}>
      Simulate Failure
    </button>
  </div>
</section>
{{outlet}}