<Breadcrumb @crumb={{hash label="Realtime" args=(array "realtime")}} />
<PageLayout>

  {{!-- <button class="button is-white" onclick={{action "startStream"}} type="button">
    {{x-icon "media-play"}}
  </button>
  <button class="button is-white" onclick={{action "stopStream"}} type="button">
    {{x-icon "media-pause"}}
  </button> --}}

	{{!-- {{log "In template" this.stream}} --}}
  aaa<EventStream />bbb
  {{!-- {{log "STREAMO" this.stream this.stream.0}} --}}
  {{!-- {{#each this.stream as |event|}}
  <hr />
    {{log "EVENT" event}}
    <dl class="realtime-event" onclick={{action "logEvent" event}}>
      <dt>Index:</dt>
      <dd>{{event.Index}}</dd>
      <dt>Topic:</dt>
      <dd>{{event.Topic}}</dd>
      <dt>Type:</dt>
      <dd>{{event.Type}}</dd>
      <dt>Key:</dt>
      <dd>{{event.Key}}</dd>
    </dl>
  {{/each}} --}}
  {{outlet}}

</PageLayout>